In [173]:
import pandas as pd

In [174]:
df = pd.read_csv('./data/hazard_risks.csv')

In [175]:
df.tail()

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
3104,Adair,Kentucky,11,Low,None,Medium,Low,Medium,None,Low,None,High,None,Low
3105,Ada,Idaho,12,High,None,Low,Medium,Low,None,Low,None,Low,None,High
3106,Accomack,Virginia,12,Low,None,Low,Low,Low,High,Low,None,Low,None,High
3107,Acadia,Louisiana,15,Low,None,High,Low,Low,Medium,Low,None,High,None,High
3108,Abbeville,South Carolina,16,Medium,None,Medium,Low,High,Medium,Medium,None,High,None,Low

In [176]:
parishes = df.loc[df['State'] == 'Louisiana']

parishes['County'] = parishes['County'] + ' Parish'

parishes['State'] = 'LA'

(df.loc[df['State'] == 'Louisiana']) = parishes

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [177]:
df.loc[df['State'] == 'LA'].head()

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
62,Winn Parish,LA,12,High,None,Low,Low,Low,Low,Low,None,High,None,Low
117,West Feliciana Parish,LA,14,Low,None,Low,Low,High,High,Low,None,High,None,Low
118,West Carroll Parish,LA,13,Low,None,High,Low,Low,Medium,Low,None,High,None,Low
119,West Baton Rouge Parish,LA,15,Low,None,Medium,Low,High,High,Low,None,High,None,Low
128,Webster Parish,LA,12,Medium,None,High,Low,Low,Medium,Low,None,Low,None,Low

In [178]:
df['Volcano'].value_counts()

None      3072
Medium      15
High        12
Low         10
Name: Volcano, dtype: int64

In [179]:
df.replace({
    'None' : 0,
    'Low' : 1,
    'Medium': 2,
    'High': 3
    
}, inplace = True)

df.head()

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach,South Dakota,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala,Texas,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata,Texas,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma,Colorado,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma,Arizona,12,1,0,1,1,1,1,2,1,1,0,3

In [180]:
df.replace({
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}, inplace = True) 
# dictionary was already written out by Roger Allen: https://gist.github.com/rogerallen/1583593

df.head()

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach,SD,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala,TX,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata,TX,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma,CO,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma,AZ,12,1,0,1,1,1,1,2,1,1,0,3

In [181]:
not_louisiana = df.loc[df['State'] != 'LA']

not_louisiana['County'] = not_louisiana['County'] + ' County'

df.loc[df['State'] != 'LA'] = not_louisiana

/Users/brandongreenspan/opt/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [182]:
df.head()

,County,State,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
0,Ziebach County,SD,9,1,0,1,2,2,0,1,0,1,0,1
1,Zavala County,TX,9,1,0,1,1,1,1,1,0,2,0,1
2,Zapata County,TX,11,1,0,1,1,1,2,1,0,3,0,1
3,Yuma County,CO,9,1,0,2,2,1,0,1,0,1,0,1
4,Yuma County,AZ,12,1,0,1,1,1,1,2,1,1,0,3

The following describe the data and how it was compiled[https://ncdp.columbia.edu/library/mapsmapping-projects/us-natural-hazards-index/](https://ncdp.columbia.edu/library/mapsmapping-projects/us-natural-hazards-index/) 

Classification

Avalanche hazard was classified by dividing counties based upon the number of avalanches they experienced over the nine year period in the dataset. Avalanche hazard was not normalized by total county area because it caused an over-emphasis on small counties, and because avalanches are a highly local hazard.

None = 0 Avalanches
Low = 1 Avalanche
Medium = 2-5 Avalanches
High = 6-10 Avalanches
Earthquake Hazard

United States Geological Survey. “Earthquake Hazard Maps”. 1:2,000,000. “Peak Ground Acceleration 2% in 50 Years”. < http://earthquake.usgs.gov/hazards/products/conterminous/ >. Downloaded 07/2016.

Classification

Peak ground acceleration (% gravity) with a 2% likelihood in 50 years was averaged by United States County, and the earthquake hazard of counties was classified based upon this average.

Low = 0 - 14.25 % gravity peak ground acceleration
Medium = 14.26 - 47.5 % gravity peak ground acceleration
High = 47.5+ % gravity peak ground acceleration
Flood Hazard

United States Federal Emergency Management Administration. “National Flood Hazard Layer”. 1:10,000. “0.2 Percent Annual Flood Area”. < https://data.femadata.com/FIMA/Risk_MAP/NFHL/ >. Downloaded 07/2016.

Classification

The National Flood Hazard Layer 0.2 Percent Annual Flood Area was spatially intersected with the United States Counties layer, splitting flood areas by county and adding county information to flood areas. Flood area was aggregated by county, expressed as a fraction of the total county land area, and flood hazard was classified based upon percentage of land that is susceptible to flooding. National Flood Hazard Layer does not cover the entire United States; coverage is focused on populated areas. Areas not included in National Flood Hazard Layer were assigned flood risk of Low in order to include these areas in further analysis.

Low = 0-.001% area susceptible
Medium = .00101 % - .005 % area susceptible
High = .00501+ % area susceptible
Heat Wave Hazard

United States Center for Disease Control and Prevention. “National Climate Assessment”. Contiguous United States Counties. “Extreme Heat Events: Heat Wave Days in May - September for years 1981-2010”. Downloaded 06/2016.

Classification

Heat wave was classified by dividing counties based upon the number of heat wave days they experienced over the 30 year time period described in the dataset.

Low = 126 - 171 Heat wave Days
Medium = 172 – 187 Heat wave Days
High = 188 – 255 Heat wave Days

Hurricane Hazard

National Oceanic and Atmospheric Administration. Coastal Services Center. “Historical North Atlantic Tropical Cyclone Tracks, 1851-2004”. 1: 2,000,000. < https://catalog.data.gov/dataset/historical-north-atlantic-tropical-cyclone-tracks-1851-2004-direct-download >. Downloaded 06/2016.

National Oceanic and Atmospheric Administration. Coastal Services Center. “Historical North Pacific Tropical Cyclone Tracks, 1851-2004”. 1: 2,000,000. < https://catalog.data.gov/dataset/historical-north-atlantic-tropical-cyclone-tracks-1851-2004-direct-download >. Downloaded 06/2016.

Classification

Atlantic and Pacific datasets were merged. Tropical storm and disturbance tracks were filtered out leaving hurricane tracks. Each hurricane track was assigned the value of the category number that describes that event. Weighting each event by intensity ensures that areas with higher intensity events are characterized as being more hazardous. Values describing each hurricane event were aggregated by United States County, normalized by total county area, and the hurricane hazard of counties was classified based upon the normalized value.

Landslide Hazard

United States Geological Survey. “Landslide Overview Map of the United States”. 1:4,000,000. “Landslide Incidence and Susceptibility in the Conterminous United States”. < https://catalog.data.gov/dataset/landslide-incidence-and-susceptibility-in-the-conterminous-united-states-direct-download >. Downloaded 07/2016.

Classification

The classifications of High, Moderate, and Low landslide susceptibility and incidence from the study were numerically coded, the average value was computed for each county, and the landslide hazard was classified based upon the average value.  

Long-Term Drought Hazard

United States Drought Monitor, Drought Mitigation Center, United States Department of Agriculture, National Oceanic and Atmospheric Administration. “Drought Monitor Summary Map”. “Long-Term Drought Impact”. < http://droughtmonitor.unl.edu/MapsAndData/GISData.aspx >. Downloaded 06/2016.

Classification

Short-term drought areas were filtered from the data; leaving only long-term drought areas. United States Counties were assigned the average U.S. Drought Monitor Classification Scheme Drought Severity Classification value that characterizes the county area. County long-term drought hazard was classified based upon average Drought Severity Classification value.

Low = 1 – 1.75 average Drought Severity Classification value
Medium = 1.76 -3.0 average Drought Severity Classification value
High = 3.0+ average Drought Severity Classification value
Snowfall Hazard

United States National Oceanic and Atmospheric Administration. “1981-2010 U.S. Climate Normals”. 1: 2,000,000. “Annual Snow Normal”. < http://www1.ncdc.noaa.gov/pub/data/normals/1981-2010/products/precipitation/ >. Downloaded 08/2016.

Classification

Average yearly snowfall was joined with point location of weather measurement stations, and stations without valid snowfall measurements were filtered out (leaving 6233 stations). Snowfall was interpolated using least squared distance interpolation to create a .05 degree raster describing an estimate of yearly snowfall for the United States. The average yearly snowfall raster was aggregated by county to yield the average yearly snowfall per United States County. The snowfall risk of counties was classified by average snowfall.

None = 0 inches
Low = .01- 10 inches
Medium = 10.01- 50 inches
High = 50.01+ inches
Tornado Hazard

United States National Oceanic and Atmospheric Administration Storm Prediction Center. “Severe Thunderstorm Database and Storm Data Publication”. 1: 2,000,000. “United States Tornado Touchdown Points 1950-2004”. < https://catalog.data.gov/dataset/united-states-tornado-touchdown-points-1950-2004-direct-download >. Downloaded 07/2016.

Classification

Each tornado touchdown point was assigned the value of the Fujita Scale that describes that event. Weighting each event by intensity ensures that areas with higher intensity events are characterized as more hazardous. Values describing each tornado event were aggregated by United States County, normalized by total county area, and the tornado hazard of counties was classified based upon the normalized value.

Volcano Hazard

Smithsonian Institution National Volcanism Program. “Volcanoes of the World”. “Holocene Volcanoes”. < http://volcano.si.edu/search_volcano.cfm >. Downloaded 07/2016.

Classification

Volcano coordinate locations from spreadsheet were mapped and aggregated by United States County. Volcano count was normalized by county area, and the volcano hazard of counties was classified based upon the number of volcanoes present per unit area.

None = 0 volcanoes/100 kilometers
Low = 0.000915 - 0.007611 volcanoes / 100 kilometers
Medium = 0.007612 - 0.018376 volcanoes / 100 kilometers
High = 0.018377- 0.150538 volcanoes / 100 kilometers
Wildfire Hazard

United States Department of Agriculture, Forest Service, Fire, Fuel, and Smoke Science Program. “Classified 2014 Wildfire Hazard Potential”. 270 meters. < http://www.firelab.org/document/classified-2014-whp-gis-data-and-maps >. Downloaded 06/2016.

 Classification

The classifications of Very High, High, Moderate, Low, Very Low, and Non-Burnable/Water wildfire hazard from the study were numerically coded, the average value was computed for each county, and the wildfire hazard was classified based upon the average value.

In [183]:
df.describe()

,Hazard Score,Wildfire,Volcano,Tornado,Snowfall,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
count,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.000000,3109.00000,3109.000000,3109.000000,3109.000000,3109.000000
mean,12.059505,1.405918,0.024445,1.701190,1.678675,1.566098,0.773882,1.24220,0.046639,1.948215,0.054358,1.617884
std,2.225972,0.715190,0.238063,0.845802,0.673070,0.736454,1.055725,0.49144,0.280327,0.814655,0.320780,0.805396
min,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.00000,0.000000,1.000000,0.000000,1.000000
25%,10.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.00000,0.000000,1.000000,0.000000,1.000000
50%,12.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.000000,1.00000,0.000000,2.000000,0.000000,1.000000
75%,14.000000,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,1.00000,0.000000,3.000000,0.000000,2.000000
max,22.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.00000,3.000000,3.000000,3.000000,3.000000

In [184]:
df.drop(columns = ['Snowfall'], inplace=True)

In [185]:
df['Hazard Score'] = df['Wildfire'] + df['Tornado'] + df['Landslide'] + df['Hurricane'] + df['Earthquake'] + df['Drought'] + df['Heatwave'] + df['Avalanche'] + df['Flood']

In [186]:
df.drop(columns=['Volcano'], inplace=True)

In [187]:
df.sort_values(by =['Hazard Score'], ascending=False)

,County,State,Hazard Score,Wildfire,Tornado,Landslide,Hurricane,Earthquake,Drought,Heatwave,Avalanche,Flood
1414,Los Angeles County,CA,19,3,1,2,0,3,3,3,1,3
380,Tangipahoa Parish,LA,18,3,3,2,3,1,0,3,0,3
1185,Mobile County,AL,18,3,3,2,3,1,0,3,0,3
2653,Chatham County,GA,18,3,3,1,3,2,0,3,0,3
986,Orangeburg County,SC,17,3,3,1,3,2,0,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
3003,Aurora County,SD,6,1,1,1,0,1,0,1,0,1
369,Taylor County,WI,6,1,1,1,0,1,0,1,0,1
212,Ward County,TX,6,1,1,1,0,1,0,1,0,1
1257,McPherson County,SD,6,1,1,1,0,1,0,1,0,1
1479,Lewis County,ID,5,1,0,1,0,1,0,1,0,1

In [188]:
df.columns = map(str.lower, df.columns)

In [189]:
df.columns

Index(['county', 'state', 'hazard score', 'wildfire', 'tornado', 'landslide',
       'hurricane', 'earthquake', 'drought', 'heatwave', 'avalanche', 'flood'],
      dtype='object')

In [191]:
df.to_csv('./data/cleaned_hazards.csv')

In [192]:
census_df = pd.read_csv('~/downloads/census_final.csv')

In [193]:
census_df

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0,0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,1,1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,2,2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,3,3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,4,4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3215,3215,0500000US72145,Vega Baja Municipio,PR,80.5,53371,52786,585,52786,...,40048,12012,9963,42353,19917,22436,88.8,9963,4442,5521
3216,3216,3216,0500000US72147,Vieques Municipio,PR,87.1,8771,8664,107,8664,...,6757,2182,1826,6985,3487,3498,99.7,1826,850,976
3217,3217,3217,0500000US72149,Villalba Municipio,PR,81.7,22993,16392,6601,16392,...,16686,4453,3647,17809,8492,9317,91.1,3647,1640,2007
3218,3218,3218,0500000US72151,Yabucoa Municipio,PR,85.2,34149,33777,372,33777,...,25881,7811,6340,27227,12958,14269,90.8,6340,2916,3424
3219,3219,3219,0500000US72153,Yauco Municipio,PR,77.8,36439,35925,514,35925,...,27793,8755,7393,29212,13709,15503,88.4,7393,3235,4158

In [194]:
census_df

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0,0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,1,1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,2,2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,3,3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,4,4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3215,3215,0500000US72145,Vega Baja Municipio,PR,80.5,53371,52786,585,52786,...,40048,12012,9963,42353,19917,22436,88.8,9963,4442,5521
3216,3216,3216,0500000US72147,Vieques Municipio,PR,87.1,8771,8664,107,8664,...,6757,2182,1826,6985,3487,3498,99.7,1826,850,976
3217,3217,3217,0500000US72149,Villalba Municipio,PR,81.7,22993,16392,6601,16392,...,16686,4453,3647,17809,8492,9317,91.1,3647,1640,2007
3218,3218,3218,0500000US72151,Yabucoa Municipio,PR,85.2,34149,33777,372,33777,...,25881,7811,6340,27227,12958,14269,90.8,6340,2916,3424
3219,3219,3219,0500000US72153,Yauco Municipio,PR,77.8,36439,35925,514,35925,...,27793,8755,7393,29212,13709,15503,88.4,7393,3235,4158

In [198]:
census_df.loc[census_df['state'] != ('PR' or 'DC' or 'HI' or 'AK')]

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0,0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,1,1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,2,2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,3,3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,4,4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,3137,3137,0500000US56037,Sweetwater County,WY,92,44117,43226,891,43226,...,30491,6159,4721,32308,16800,15508,108.3,4721,2262,2459
3138,3138,3138,0500000US56039,Teton County,WY,94.8,23059,22875,184,22875,...,18169,3843,3135,18625,9619,9006,106.8,3135,1526,1609
3139,3139,3139,0500000US56041,Uinta County,WY,97.6,20609,19891,718,19891,...,13939,3251,2498,14538,7280,7258,100.3,2498,1234,1264
3140,3140,3140,0500000US56043,Washakie County,WY,89,8129,7791,338,7791,...,5951,2041,1686,6187,3142,3045,103.2,1686,794,892
3141,3141,3141,0500000US56045,Weston County,WY,90.6,7100,6956,144,6956,...,5434,1770,1340,5595,2923,2672,109.4,1340,637,703

In [219]:
df = df.loc[(df['state']).isin(df['county']) == False]

In [227]:
census_w_hazard = census_df.loc[(census_df['county'] and).isin(df['county']) == True]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [226]:
census_w_hazard

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0,0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,1,1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,2,2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,3,3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,4,4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,3137,3137,0500000US56037,Sweetwater County,WY,92,44117,43226,891,43226,...,30491,6159,4721,32308,16800,15508,108.3,4721,2262,2459
3138,3138,3138,0500000US56039,Teton County,WY,94.8,23059,22875,184,22875,...,18169,3843,3135,18625,9619,9006,106.8,3135,1526,1609
3139,3139,3139,0500000US56041,Uinta County,WY,97.6,20609,19891,718,19891,...,13939,3251,2498,14538,7280,7258,100.3,2498,1234,1264
3140,3140,3140,0500000US56043,Washakie County,WY,89,8129,7791,338,7791,...,5951,2041,1686,6187,3142,3045,103.2,1686,794,892
3141,3141,3141,0500000US56045,Weston County,WY,90.6,7100,6956,144,6956,...,5434,1770,1340,5595,2923,2672,109.4,1340,637,703

In [228]:
df

,county,state,hazard score,wildfire,tornado,landslide,hurricane,earthquake,drought,heatwave,avalanche,flood
0,Ziebach County,SD,7,1,1,2,0,1,0,1,0,1
1,Zavala County,TX,8,1,1,1,1,1,0,2,0,1
2,Zapata County,TX,10,1,1,1,2,1,0,3,0,1
3,Yuma County,CO,7,1,2,1,0,1,0,1,0,1
4,Yuma County,AZ,11,1,1,1,1,2,1,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
3104,Adair County,KY,10,1,2,2,0,1,0,3,0,1
3105,Ada County,ID,10,3,1,1,0,1,0,1,0,3
3106,Accomack County,VA,11,1,1,1,3,1,0,1,0,3
3107,Acadia Parish,LA,14,1,3,1,2,1,0,3,0,3
3108,Abbeville County,SC,15,2,2,3,2,2,0,3,0,1

In [220]:
pd.merge_asof(df, census_df, on = 'county')

ValueError: left keys must be sorted

In [205]:
combined_counties = list(df['county']) + list(census_df['county'])

In [208]:
combined_counties_df = pd.DataFrame(combined_counties)

In [209]:
combined_counties_df.loc[combined_counties_df.duplicated() == False]

                        0
0          Ziebach County
1           Zavala County
2           Zapata County
3             Yuma County
5             Yuba County
...                   ...
6324  Vega Baja Municipio
6325    Vieques Municipio
6326   Villalba Municipio
6327    Yabucoa Municipio
6328      Yauco Municipio

[2013 rows x 1 columns]

In [201]:
list(df['county'])

['Ziebach County',
 'Zavala County',
 'Zapata County',
 'Yuma County',
 'Yuma County',
 'Yuba County',
 'Young County',
 'York County',
 'York County',
 'York County',
 'York County',
 'York County',
 'Yolo County',
 'Yoakum County',
 'Yellowstone County',
 'Yellow Medicine County',
 'Yell County',
 'Yazoo County',
 'Yavapai County',
 'Yates County',
 'Yankton County',
 'Yancey County',
 'Yamhill County',
 'Yalobusha County',
 'Yakima County',
 'Yadkin County',
 'Wythe County',
 'WY County',
 'WY County',
 'WY County',
 'Wyandotte County',
 'Wyandot County',
 'Wright County',
 'Wright County',
 'Wright County',
 'Worth County',
 'Worth County',
 'Worth County',
 'Worcester County',
 'Worcester County',
 'Woodward County',
 'Woodson County',
 'Woods County',
 'Woodruff County',
 'Woodford County',
 'Woodford County',
 'Woodbury County',
 'Wood County',
 'Wood County',
 'Wood County',
 'Wood County',
 'Wolfe County',
 'Wise County',
 'Wise County',
 'Wirt County',
 'Winston County',
 'Winston County',
 'Winona County',
 'Winneshiek County',
 'Winnebago County',
 'Winnebago County',
 'Winnebago County',
 'Winn Parish',
 'Winkler County',
 'Windsor County',
 'Windham County',
 'Windham County',
 'Winchester County',
 'Wilson County',
 'Wilson County',
 'Wilson County',
 'Wilson County',
 'Williamson County',
 'Williamson County',
 'Williamson County',
 'Williamsburg County',
 'Williamsburg County',
 'Williams County',
 'Williams County',
 'Willacy County',
 'Will County',
 'Wilkinson County',
 'Wilkinson County',
 'Wilkin County',
 'Wilkes County',
 'Wilkes County',
 'Wilcox County',
 'Wilcox County',
 'Wilbarger County',
 'Wicomico County',
 'Wichita County',
 'Wichita County',
 'Wibaux County',
 'Whitman County',
 'Whitley County',
 'Whitley County',
 'Whitfield County',
 'Whiteside County',
 'White Pine County',
 'White County',
 'White County',
 'White County',
 'White County',
 'White County',
 'Wheeler County',
 'Wheeler County',
 'Wheeler County',
 'Wheeler County',
 'Wheatland County',
 'Whatcom County',
 'Wharton County',
 'Wexford County',
 'Wetzel County',
 'Weston County',
 'Westmoreland County',
 'Westmoreland County',
 'Westchester County',
 'West Feliciana Parish',
 'West Carroll Parish',
 'West Baton Rouge Parish',
 'Wells County',
 'Wells County',
 'Weld County',
 'Webster County',
 'Webster County',
 'Webster County',
 'Webster County',
 'Webster County',
 'Webster Parish',
 'Webster County',
 'Webster County',
 'Weber County',
 'Webb County',
 'Weakley County',
 'Waynesboro County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Wayne County',
 'Waushara County',
 'Waupaca County',
 'Waukesha County',
 'Watonwan County',
 'Watauga County',
 'Washtenaw County',
 'Washoe County',
 'Washita County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'Washington Parish',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'WA County',
 'Washburn County',
 'Washakie County',
 'Waseca County',
 'Wasco County',
 'Wasatch County',
 'Warrick County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Warren County',
 'Ware County',
 'Ward County',
 'Ward County',
 'Wapello County',
 'Walworth County',
 'Walworth County',
 'Walton County',
 'Walton County',
 'Walthall County',
 'Walsh County',
 'Wallowa County',
 'Waller County',
 'Wallace County',
 'Walla Walla County',
 'Walker County',
 'Walker County',
 'Walker County',
 'Waldo County',
 'Wakulla County',
 'Wake County',
 'Wahkiakum County',
 'Wagoner County',
 'Wadena County',
 'Wabaunsee County',
 'Wabasha County',
 'Wabash County',
 'Wabash County',
 'Volusia County',
 'Virginia Beach County',
 'Vinton County',
 'Vilas County',
 'Vigo County',
 'Victoria County',
 'Vernon County',
 'Vernon County',
 'Vernon Parish',
 'Vermillion County',
 'Vermilion County',
 'Vermilion Parish',
 'Ventura County',
 'Venango County',
 'Vanderburgh County',
 'Vance County',
 'Van Zandt County',
 'Van Wert County',
 'Van Buren County',
 'Van Buren County',
 'Van Buren County',
 'Van Buren County',
 'Valley County',
 'Valley County',
 'Valley County',
 'Valencia County',
 'Val Verde County',
 'Uvalde County',
 'UT County',
 'Upton County',
 'Upson County',
 'Upshur County',
 'Upshur County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Union Parish',
 'Union County',
 'Union County',
 'Union County',
 'Union County',
 'Unicoi County',
 'Umatilla County',
 'Ulster County',
 'Uintah County',
 'Uinta County',
 'Tyrrell County',
 'Tyler County',
 'Tyler County',
 'Twin Falls County',
 'Twiggs County',
 'Tuscola County',
 'Tuscarawas County',
 'Tuscaloosa County',
 'Turner County',
 'Turner County',
 'Tuolumne County',
 'Tunica County',
 'Tulsa County',
 'Tulare County',
 'Tucker County',
 'Trumbull County',
 'Trousdale County',
 'Troup County',
 'Tripp County',
 'Trinity County',
 'Trinity County',
 'Trimble County',
 'Trigg County',
 'Treutlen County',
 'Trempealeau County',
 'Trego County',
 'Treasure County',
 'Travis County',
 'Traverse County',
 'Transylvania County',
 'Traill County',
 'Towns County',
 'Towner County',
 'Torrance County',
 'Toombs County',
 'Toole County',
 'Tooele County',
 'Tompkins County',
 'Tom Green County',
 'Tolland County',
 'Todd County',
 'Todd County',
 'Todd County',
 'Titus County',
 'Tishomingo County',
 'Tipton County',
 'Tipton County',
 'Tippecanoe County',
 'Tippah County',
 'Tioga County',
 'Tioga County',
 'Tillman County',
 'Tillamook County',
 'Tift County',
 'Thurston County',
 'Thurston County',
 'Throckmorton County',
 'Thomas County',
 'Thomas County',
 'Thomas County',
 'Thayer County',
 'TX County',
 'TX County',
 'Teton County',
 'Teton County',
 'Teton County',
 'Terry County',
 'Terrell County',
 'Terrell County',
 'Terrebonne Parish',
 'Tensas Parish',
 'Teller County',
 'Telfair County',
 'Tehama County',
 'Tazewell County',
 'Tazewell County',
 'Taylor County',
 'Taylor County',
 'Taylor County',
 'Taylor County',
 'Taylor County',
 'Taylor County',
 'Taylor County',
 'Tattnall County',
 'Tate County',
 'Tarrant County',
 'Taos County',
 'Tangipahoa Parish',
 'Taney County',
 'Tama County',
 'Tallapoosa County',
 'Tallahatchie County',
 'Talladega County',
 'Taliaferro County',
 'Talbot County',
 'Talbot County',
 'Switzerland County',
 'Swisher County',
 'Swift County',
 'Sweetwater County',
 'Sweet Grass County',
 'Swain County',
 'Suwannee County',
 'Sutton County',
 'Sutter County',
 'Sussex County',
 'Sussex County',
 'Sussex County',
 'Susquehanna County',
 'Surry County',
 'Surry County',
 'Sunflower County',
 'Sumter County',
 'Sumter County',
 'Sumter County',
 'Sumter County',
 'Sumner County',
 'Sumner County',
 'Summit County',
 'Summit County',
 'Summit County',
 'Summers County',
 'Sully County',
 'Sullivan County',
 'Sullivan County',
 'Sullivan County',
 'Sullivan County',
 'Sullivan County',
 'Sullivan County',
 'Suffolk County',
 'Suffolk County',
 'Suffolk County',
 'Sublette County',
 'Stutsman County',
 'Strafford County',
 'Story County',
 'Storey County',
 'Stonewall County',
 'Stone County',
 'Stone County',
 'Stone County',
 'Stokes County',
 'Stoddard County',
 'Stillwater County',
 'Stewart County',
 'Stewart County',
 'Stevens County',
 'Stevens County',
 'Stevens County',
 'Steuben County',
 'Steuben County',
 'Sterling County',
 'Stephenson County',
 'Stephens County',
 'Stephens County',
 'Stephens County',
 'Steele County',
 'Steele County',
 'Stearns County',
 'Ste. Genevieve County',
 'Staunton County',
 'Starr County',
 'Starke County',
 'Stark County',
 'Stark County',
 'Stark County',
 'Stanton County',
 'Stanton County',
 'Stanly County',
 'Stanley County',
 'Stanislaus County',
 'Stafford County',
 'Stafford County',
 'St. Tammany Parish',
 "St. Mary's County",
 'St. Mary Parish',
 'St. Martin Parish',
 'St. Lucie County',
 'St. Louis County County',
 'St. Louis city County',
 'St. Louis County',
 'St. Lawrence County',
 'St. Landry Parish',
 'St. Joseph County',
 'St. Joseph County',
 'St. Johns County',
 'St. John the Baptist Parish',
 'St. James Parish',
 'St. Helena Parish',
 'St. Francois County',
 'St. Francis County',
 'St. Croix County',
 'St. Clair County',
 'St. Clair County',
 'St. Clair County',
 'St. Clair County',
 'St. Charles County',
 'St. Charles Parish',
 'St. Bernard Parish',
 'Spotsylvania County',
 'Spokane County',
 'Spink County',
 'Spencer County',
 'Spencer County',
 'Spartanburg County',
 'Spalding County',
 'Southampton County',
 'Sonoma County',
 'Somervell County',
 'Somerset County',
 'Somerset County',
 'Somerset County',
 'Somerset County',
 'Solano County',
 'Socorro County',
 'Snyder County',
 'Snohomish County',
 'Smyth County',
 'Smith County',
 'Smith County',
 'Smith County',
 'Smith County',
 'Slope County',
 'Skamania County',
 'Skagit County',
 'Siskiyou County',
 'Sioux County',
 'Sioux County',
 'Sioux County',
 'Simpson County',
 'Simpson County',
 'Silver Bow County',
 'Sierra County',
 'Sierra County',
 'Sibley County',
 'Shoshone County',
 'Shiawassee County',
 'Sherman County',
 'Sherman County',
 'Sherman County',
 'Sherman County',
 'Sheridan County',
 'Sheridan County',
 'Sheridan County',
 'Sheridan County',
 'Sheridan County',
 'Sherburne County',
 'Shenandoah County',
 'Shelby County',
 'Shelby County',
 'Shelby County',
 'Shelby County',
 'Shelby County',
 'Shelby County',
 'Shelby County',
 'Shelby County',
 'Shelby County',
 'Sheboygan County',
 'Shawnee County',
 'Shawano County',
 'Shasta County',
 'Sharp County',
 'Sharkey County',
 'Shannon County',
 'Shannon County',
 'Shackelford County',
 'Seward County',
 'Seward County',
 'Sevier County',
 'Sevier County',
 'Sevier County',
 'Sequoyah County',
 'Sequatchie County',
 'Seneca County',
 'Seneca County',
 'Seminole County',
 'Seminole County',
 'Seminole County',
 'Sedgwick County',
 'Sedgwick County',
 'Sebastian County',
 'Searcy County',
 'Scurry County',
 'Screven County',
 'Scotts Bluff County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scott County',
 'Scotland County',
 'Scotland County',
 'Scioto County',
 'Schuylkill County',
 'Schuyler County',
 'Schuyler County',
 'Schuyler County',
 'Schoolcraft County',
 'Schoharie County',
 'Schley County',
 'Schleicher County',
 'Schenectady County',
 'Sawyer County',
 'Saunders County',
 'Sauk County',
 'Sarpy County',
 'Sargent County',
 'Saratoga County',
 'Sarasota County',
 'Santa Rosa County',
 'Santa Fe County',
 'Santa Cruz County',
 'Santa Cruz County',
 'Santa Clara County',
 'Santa Barbara County',
 'Sanpete County',
 'Sanilac County',
 'Sangamon County',
 'Sandusky County',
 'Sandoval County',
 'Sanders County',
 'Sanborn County',
 'San Saba County',
 'San Patricio County',
 'San Miguel County',
 'San Miguel County',
 'San Mateo County',
 'San Luis Obispo County',
 'San Juan County',
 'San Juan County',
 'San Juan County',
 'San Juan County',
 'San Joaquin County',
 'San Jacinto County',
 'San Francisco County',
 'San Diego County',
 'San Bernardino County',
 'San Benito County',
 'San Augustine County',
 'Sampson County',
 'Saluda County',
 'Salt Lake County',
 'Saline County',
 'Saline County',
 'Saline County',
 'Saline County',
 'Saline County',
 'Salem County',
 'Salem County',
 'Saguache County',
 'Saginaw County',
 'Sagadahoc County',
 'Sacramento County',
 'Sac County',
 'Sabine Parish',
 'Sabine County',
 'Rutland County',
 'Rutherford County',
 'Rutherford County',
 'Russell County',
 'Russell County',
 'Russell County',
 'Russell County',
 'Rusk County',
 'Rusk County',
 'Rush County',
 'Rush County',
 'Runnels County',
 'Rowan County',
 'Rowan County',
 'Routt County',
 'Ross County',
 'Rosebud County',
 'Roseau County',
 'Roscommon County',
 'Roosevelt County',
 'Roosevelt County',
 'Rooks County',
 'Rolette County',
 'Rogers County',
 'Roger Mills County',
 'Rockwall County',
 'Rockland County',
 'Rockingham County',
 'Rockingham County',
 'Rockingham County',
 'Rockdale County',
 'Rockcastle County',
 'Rockbridge County',
 'Rock Island County',
 'Rock County',
 'Rock County',
 'Rock County',
 'Robeson County',
 'Robertson County',
 'Robertson County',
 'Robertson County',
 'Roberts County',
 'Roberts County',
 'Roanoke County County',
 'Roanoke City County',
 'Roane County',
 'Roane County',
 'Riverside County',
 'Ritchie County',
 'Ripley County',
 'Ripley County',
 'Rio Grande County',
 'Rio Blanco County',
 'Rio Arriba County',
 'Ringgold County',
 'Riley County',
 'Richmond County County',
 'Richmond City County',
 'Richmond County',
 'Richmond County',
 'Richmond County',
 'Richland County',
 'Richland County',
 'Richland County',
 'Richland County',
 'Richland County',
 'Richland Parish',
 'Richland County',
 'Richardson County',
 'Rich County',
 'Rice County',
 'Rice County',
 'Rhea County',
 'Reynolds County',
 'Republic County',
 'Renville County',
 'Renville County',
 'Rensselaer County',
 'Reno County',
 'Refugio County',
 'Reeves County',
 'Redwood County',
 'Red Willow County',
 'Red River County',
 'Red River Parish',
 'Red Lake County',
 'Real County',
 'Reagan County',
 'Ray County',
 'Rawlins County',
 'Ravalli County',
 'Rappahannock County',
 'Rapides Parish',
 'Ransom County',
 'Rankin County',
 'Randolph County',
 'Randolph County',
 'Randolph County',
 'Randolph County',
 'Randolph County',
 'Randolph County',
 'Randolph County',
 'Randolph County',
 'Randall County',
 'Ramsey County',
 'Ramsey County',
 'Ralls County',
 'Raleigh County',
 'Rains County',
 'Radford County',
 'Racine County',
 'Rabun County',
 'Quitman County',
 'Quitman County',
 'Queens County',
 "Queen Anne's County",
 'Quay County',
 'Putnam County',
 'Putnam County',
 'Putnam County',
 'Putnam County',
 'Putnam County',
 'Putnam County',
 'Putnam County',
 'Putnam County',
 'Putnam County',
 'Pushmataha County',
 'Pulaski County',
 'Pulaski County',
 'Pulaski County',
 'Pulaski County',
 'Pulaski County',
 'Pulaski County',
 'Pulaski County',
 'Pueblo County',
 'Prowers County',
 'Providence County',
 'Prince William County',
 "Prince George's County",
 'Prince George County',
 'Prince Edward County',
 'Price County',
 'Preston County',
 'Presque Isle County',
 'Presidio County',
 'Prentiss County',
 'Preble County',
 'Pratt County',
 'Prairie County',
 'Prairie County',
 'Powhatan County',
 'Poweshiek County',
 'Power County',
 'Powell County',
 'Powell County',
 'Powder River County',
 'Potter County',
 'Potter County',
 'Potter County',
 'Pottawattamie County',
 'Pottawatomie County',
 'Pottawatomie County',
 'Posey County',
 'Portsmouth County',
 'Porter County',
 'Portage County',
 'Portage County',
 'Poquoson County',
 'Pope County',
 'Pope County',
 'Pope County',
 'Pontotoc County',
 'Pontotoc County',
 'Pondera County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Polk County',
 'Pointe Coupee Parish',
 'Poinsett County',
 'Pocahontas County',
 'Pocahontas County',
 'Plymouth County',
 'Plymouth County',
 'Plumas County',
 'Pleasants County',
 'Platte County',
 'Platte County',
 'Platte County',
 'Plaquemines Parish',
 'Placer County',
 'Piute County',
 'Pittsylvania County',
 'Pittsburg County',
 'Pitt County',
 'Pitkin County',
 'Piscataquis County',
 'Pipestone County',
 'Pinellas County',
 'Pine County',
 'Pinal County',
 'Pima County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pike County',
 'Pierce County',
 'Pierce County',
 'Pierce County',
 'Pierce County',
 'Pierce County',
 'Pickett County',
 'Pickens County',
 'Pickens County',
 'Pickens County',
 'Pickaway County',
 'Piatt County',
 'Phillips County',
 'Phillips County',
 'Phillips County',
 'Phillips County',
 'Philadelphia County',
 'Phelps County',
 'Phelps County',
 'Pettis County',
 'Petroleum County',
 'Petersburg County',
 'Person County',
 'Pershing County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perry County',
 'Perquimans County',
 'Perkins County',
 'Perkins County',
 'Pepin County',
 'Peoria County',
 'Penobscot County',
 'Pennington County',
 'Pennington County',
 'Pendleton County',
 'Pendleton County',
 'Pender County',
 'Pend Oreille County',
 'Pemiscot County',
 'Pembina County',
 'Pecos County',
 'Pearl River County',
 'Peach County',
 'Payne County',
 'Payette County',
 'Pawnee County',
 'Pawnee County',
 'Pawnee County',
 'Paulding County',
 'Paulding County',
 'Patrick County',
 'Passaic County',
 'Pasquotank County',
 'Pasco County',
 'Parmer County',
 'Parker County',
 'Parke County',
 'Park County',
 'Park County',
 'Park County',
 'Panola County',
 'Panola County',
 'Pamlico County',
 'Palo Pinto County',
 'Palo Alto County',
 'Palm Beach County',
 'Page County',
 'Page County',
 'Pacific County',
 'Ozaukee County',
 'Ozark County',
 'Oxford County',
 'Owyhee County',
 'Owsley County',
 'Owen County',
 'Owen County',
 'Overton County',
 'Outagamie County',
 'Ouray County',
 'Ouachita Parish',
 'Ouachita County',
 'Otter Tail County',
 'Ottawa County',
 'Ottawa County',
 'Ottawa County',
 'Ottawa County',
 'Otsego County',
 'Otsego County',
 'Otoe County',
 'Otero County',
 'Otero County',
 'Oswego County',
 'Oscoda County',
 'Osceola County',
 'Osceola County',
 'Osceola County',
 'Osborne County',
 'Osage County',
 'Osage County',
 'Osage County',
 'Orleans County',
 'Orleans Parish',
 'Orleans County',
 'OR County',
 'Orangeburg County',
 'Orange County',
 'Orange County',
 'Orange County',
 'Orange County',
 'Orange County',
 'Orange County',
 'Orange County',
 'Orange County',
 'Ontonagon County',
 'Ontario County',
 'Onslow County',
 'Onondaga County',
 'Oneida County',
 ...]

In [204]:
list(census_df['county']) != list(df['county'])

True

In [202]:
census_df.loc[census_df['county'] != list(df['county'])]

ValueError: Lengths must match to compare

In [195]:
census_hazard_df = df.join(census_df, df], axis = 1)

AttributeError: module 'pandas' has no attribute 'join'

In [ ]:
census_hazard_df

In [98]:
census_hazard_df.to_csv('./data/merged_census_and_hazards.csv')

In [104]:
census_hazard_df.sort_values(by = ['hazards'], ascending = False)

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,hazards,wildfire,tornado,landslide,hurricane,earthquake,drought,heatwave,avalanche,flood
380,380,380,0500000US12121,Suwannee County,FL,85.8,43924,42669,1255,42669,...,18.0,3.0,3.0,2.0,3.0,1.0,0.0,3.0,0.0,3.0
1157,1157,1157,0500000US22089,St. Charles Parish,LA,86.9,52724,52178,546,52178,...,17.0,3.0,1.0,2.0,0.0,3.0,2.0,3.0,0.0,3.0
923,923,923,0500000US20071,Greeley County,KS,93.6,1200,1179,21,1179,...,17.0,3.0,3.0,2.0,3.0,1.0,0.0,3.0,0.0,2.0
986,986,986,0500000US20197,Wabaunsee County,KS,96.2,6888,6751,137,6751,...,17.0,3.0,3.0,1.0,3.0,2.0,0.0,3.0,0.0,2.0
613,613,613,0500000US17037,DeKalb County,IL,79,104200,101720,2480,101720,...,17.0,3.0,1.0,2.0,0.0,3.0,3.0,3.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3215,3215,0500000US72145,Vega Baja Municipio,PR,80.5,53371,52786,585,52786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3216,3216,3216,0500000US72147,Vieques Municipio,PR,87.1,8771,8664,107,8664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,3217,3217,0500000US72149,Villalba Municipio,PR,81.7,22993,16392,6601,16392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,3218,3218,0500000US72151,Yabucoa Municipio,PR,85.2,34149,33777,372,33777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,3219,3219,0500000US72153,Yauco Municipio,PR,77.8,36439,35925,514,35925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
census_hazard_df.loc[census_hazard_df['hazards'].isnull()]

Int64Index([1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184,
            ...
            3210, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219],
           dtype='int64', length=2045)

In [139]:
census_hazard_df.replace(df)

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,hazards,wildfire,tornado,landslide,hurricane,earthquake,drought,heatwave,avalanche,flood
0,0,0,0500000US01001,Autauga County,AL,76.5,55200,54170,1030,54170,...,10.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0
1,1,1,0500000US01003,Baldwin County,AL,86.6,208107,204535,3572,204535,...,8.0,1.0,1.0,1.0,1.0,1.0,0.0,3.0,0.0,1.0
2,2,2,0500000US01005,Barbour County,AL,76.2,25782,25429,353,25429,...,13.0,1.0,1.0,1.0,2.0,1.0,0.0,1.0,0.0,1.0
3,3,3,0500000US01007,Bibb County,AL,80.5,22527,22340,187,22340,...,10.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0
4,4,4,0500000US01009,Blount County,AL,79.7,57645,56710,935,56710,...,12.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3215,3215,0500000US72145,Vega Baja Municipio,PR,80.5,53371,52786,585,52786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3216,3216,3216,0500000US72147,Vieques Municipio,PR,87.1,8771,8664,107,8664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,3217,3217,0500000US72149,Villalba Municipio,PR,81.7,22993,16392,6601,16392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,3218,3218,0500000US72151,Yabucoa Municipio,PR,85.2,34149,33777,372,33777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,3219,3219,0500000US72153,Yauco Municipio,PR,77.8,36439,35925,514,35925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
census_hazard_df.loc[census_hazard_df['hazards'].isnull()]

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,hazards,wildfire,tornado,landslide,hurricane,earthquake,drought,heatwave,avalanche,flood
1175,1175,1175,0500000US22125,West Feliciana Parish,LA,100.1,15377,15206,171,15206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1176,1176,1176,0500000US22127,Winn Parish,LA,79.3,14494,14322,172,14322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1177,1177,1177,0500000US23001,Androscoggin County,ME,80.8,107444,101882,5562,101882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1178,1178,1178,0500000US23003,Aroostook County,ME,83.3,68269,67206,1063,67206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1179,1179,1179,0500000US23005,Cumberland County,ME,77.8,290944,283733,7211,283733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3215,3215,0500000US72145,Vega Baja Municipio,PR,80.5,53371,52786,585,52786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3216,3216,3216,0500000US72147,Vieques Municipio,PR,87.1,8771,8664,107,8664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,3217,3217,0500000US72149,Villalba Municipio,PR,81.7,22993,16392,6601,16392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,3218,3218,0500000US72151,Yabucoa Municipio,PR,85.2,34149,33777,372,33777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,3219,3219,0500000US72153,Yauco Municipio,PR,77.8,36439,35925,514,35925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
census_hazard_df['state']

     state state
0       AL    SD
1       AL    TX
2       AL    TX
3       AL    CO
4       AL    AZ
...    ...   ...
3215    PR   NaN
3216    PR   NaN
3217    PR   NaN
3218    PR   NaN
3219    PR   NaN

[3220 rows x 2 columns]

In [150]:
census_df['hazards']= census_hazard_df["hazards"].map(df['hazards'])

In [152]:
census_df['hazards']

0       13.0
1        8.0
2        9.0
3       13.0
4       13.0
        ...
3215     NaN
3216     NaN
3217     NaN
3218     NaN
3219     NaN
Name: hazards, Length: 3220, dtype: float64

In [153]:
census_df.loc[census_hazard_df['hazards'].isnull()]

,Unnamed: 0,Unnamed: 0.1,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,...,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,hazards
1175,1175,1175,0500000US22125,West Feliciana Parish,LA,100.1,15377,15206,171,15206,...,2785,2049,12838,8421,4417,190.6,2049,1025,1024,NaN
1176,1176,1176,0500000US22127,Winn Parish,LA,79.3,14494,14322,172,14322,...,3077,2542,11422,6172,5250,117.6,2542,1124,1418,NaN
1177,1177,1177,0500000US23001,Androscoggin County,ME,80.8,107444,101882,5562,101882,...,21751,18104,83915,40572,43343,93.6,18104,8091,10013,NaN
1178,1178,1178,0500000US23003,Aroostook County,ME,83.3,68269,67206,1063,67206,...,18712,15500,55631,27192,28439,95.6,15500,7046,8454,NaN
1179,1179,1179,0500000US23005,Cumberland County,ME,77.8,290944,283733,7211,283733,...,62089,50364,235254,112718,122536,92.0,50364,22044,28320,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3215,3215,0500000US72145,Vega Baja Municipio,PR,80.5,53371,52786,585,52786,...,12012,9963,42353,19917,22436,88.8,9963,4442,5521,NaN
3216,3216,3216,0500000US72147,Vieques Municipio,PR,87.1,8771,8664,107,8664,...,2182,1826,6985,3487,3498,99.7,1826,850,976,NaN
3217,3217,3217,0500000US72149,Villalba Municipio,PR,81.7,22993,16392,6601,16392,...,4453,3647,17809,8492,9317,91.1,3647,1640,2007,NaN
3218,3218,3218,0500000US72151,Yabucoa Municipio,PR,85.2,34149,33777,372,33777,...,7811,6340,27227,12958,14269,90.8,6340,2916,3424,NaN
3219,3219,3219,0500000US72153,Yauco Municipio,PR,77.8,36439,35925,514,35925,...,8755,7393,29212,13709,15503,88.4,7393,3235,4158,NaN