In [97]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [98]:
df = pd.read_csv('~/downloads/combined.csv')

In [99]:
df.head()

,Unnamed: 0,county,state,hazard score,wildfire,volcano,tornado,snowfall,landslide,hurricane,...,nurse practitioners w/npi_y,"skilled nurs care, beds set up_y","nurse practitioners, fmle w/npi_y","clin nurs specialist,male w/npi",# nursing facilities,"cert nurse midwvs,ft oth emptyp_y",nursing facilities total beds,nurse practitioners_y,"advpractnurs midwve,male w/npi",st_num
0,0,autauga county,AL,13,Medium,None,Medium,Low,Low,Medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,baldwin county,AL,18,High,None,High,Low,Low,High,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,barbour county,AL,10,Medium,None,Low,Low,Low,Medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,bibb county,AL,14,Medium,None,Medium,Low,Medium,Low,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,blount county,AL,13,Low,None,High,Low,High,Low,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df.columns[0:16]

Index(['Unnamed: 0', 'county', 'state', 'hazard score', 'wildfire', 'volcano',
       'tornado', 'snowfall', 'landslide', 'hurricane', 'earthquake',
       'drought', 'heatwave', 'avalanche', 'flood', 'id'],
      dtype='object')