In [96]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

In [76]:
url =('https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_county_population_usafacts.csv')
pop_county_data = pd.read_csv(url)

In [77]:
pop_county_data.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [72]:
url = 'https://covidtracking.com/api/v1/states/current.csv'
covid_cases_state = pd.read_csv(url)

In [73]:
covid_cases_state

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,notes,dataQualityGrade,...,checkTimeEt,death,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,hash
0,AK,365,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 15:19,9,NaN,21399,21399,21399,2,2020-05-02T04:00:00Z,2020-05-02T19:19:00Z,1c5e94bcaf30c48342c3db9af4d35010f5cf021c
1,AL,7434,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:31,288,1023.0,92209,92209,92209,1,2020-05-02T04:00:00Z,2020-05-02T20:31:00Z,c30e3d67ac567060ea9be2b6082f859edfa4d7aa
2,AR,3372,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:49,73,414.0,51582,51582,51582,5,2020-05-02T18:47:00Z,2020-05-02T20:49:00Z,7ded49d1cda1e4ea1f798fb248e8070b664d20c5
3,AZ,8364,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/02 14:33,348,1339.0,77997,77997,77997,4,2020-05-02T04:00:00Z,2020-05-02T18:33:00Z,af00b47ce96f5c28fe5288132752e215b46809a1
4,CA,52197,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:23,2171,NaN,686803,686803,686803,6,2020-05-01T04:00:00Z,2020-05-02T20:23:00Z,3f565b4084a7a716166d5c1807f483aff79c5806
5,CO,15768,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 14:58,820,2747.0,76949,76949,76949,8,2020-05-01T04:00:00Z,2020-05-02T18:58:00Z,6a9cc82d4b54e663ff437bd7a6d50e68f276fba4
6,CT,28764,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:49,2339,7758.0,100257,100257,100257,9,2020-05-01T04:00:00Z,2020-05-02T20:49:00Z,8c280d33007a95a837ac74b7442d1fbedbd75400
7,DC,4797,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:20,240,NaN,22004,22004,22004,11,2020-05-01T04:00:00Z,2020-05-02T20:20:00Z,7a9c42b5e852672adfd56338903c1ab375e4fea4
8,DE,5038,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 15:55,168,NaN,23112,23112,23112,10,2020-05-02T13:10:00Z,2020-05-02T19:55:00Z,a795d94ed17870b7c24bbd33ca8dc0db8898fc90
9,FL,35463,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 15:57,1388,5945.0,416012,416012,416012,12,2020-05-02T14:14:00Z,2020-05-02T19:57:00Z,65583a7119ada5be2e24c4746acaf333f041e80a
10,GA,28306,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 16:00,1174,5387.0,174800,174800,174800,13,2020-05-02T18:25:00Z,2020-05-02T20:00:00Z,0da57abc4a46ce85838bafd9aa24803985079122
11,HI,619,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:48,16,72.0,31985,31985,31985,15,2020-05-01T04:00:00Z,2020-05-02T20:48:00Z,bffaab22cd2a1b0bef3e28ae068573363ceb1309
12,IA,8641,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 16:10,175,NaN,46349,46349,46349,19,2020-05-01T16:00:00Z,2020-05-02T20:10:00Z,99facaac5ca7bd0438db8220bf7a777cfab36c9c
13,ID,2035,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 16:05,63,178.0,29490,29490,29490,16,2020-05-01T23:00:00Z,2020-05-02T20:05:00Z,d69b0da67facc75e8d45aebc246d40be26cc5eb8
14,IL,58505,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 16:16,2559,NaN,299896,299896,299896,17,2020-05-02T04:00:00Z,2020-05-02T20:16:00Z,e511db70d2643a5c9b537c53f84a02e41ab71387
15,IN,19295,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/02 15:56,1229,NaN,104141,104141,104141,18,2020-05-02T03:59:00Z,2020-05-02T19:56:00Z,72c7af1dcd70a32fe10e59772aa285c54ee5ae7d
16,KS,4746,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 15:49,131,541.0,34942,34942,34942,20,2020-05-02T14:00:00Z,2020-05-02T19:49:00Z,2f55a1bc0d1c23a025609001ec27e5a6916d7942
17,KY,4879,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 15:22,248,1411.0,57649,57649,57649,21,2020-05-01T21:00:00Z,2020-05-02T19:22:00Z,c09eb5eac0c83c588e9029c492a2baae5f233a65
18,LA,29140,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 15:15,1950,NaN,172858,172858,172858,22,2020-05-02T17:00:00Z,2020-05-02T19:15:00Z,6d6c4cb977b9e5ba2c7615e6bffe51f46b218478
19,MA,66263,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 16:19,3846,6378.0,298994,298994,298994,25,2020-05-02T16:00:00Z,2020-05-02T20:19:00Z,6058f39cbd29138110c8a975e7f51eabd370bf35
20,MD,24473,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 15:07,1251,4910.0,125522,125522,125522,24,2020-05-02T14:00:00Z,2020-05-02T19:07:00Z,71be0c89a2fa363f128e9f80cbf27764509634fe
21,ME,1152,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 15:05,56,181.0,20698,20698,20698,23,2020-05-02T15:45:00Z,2020-05-02T19:05:00Z,588e73e0e63a3199733d19adc99dc46f02be2693
22,MI,43207,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/02 15:33,4020,NaN,201709,201709,201709,26,2020-05-02T15:00:00Z,2020-05-02T19:33:00Z,c4960d1dd586d080b329f3ea62471bfbe8bd08f6
23,MN,6228,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 15:04,395,1159.0,79007,79007,79007,27,2020-05-01T21:00:00Z,2020-05-02T19:04:00Z,cee06c68b597a41a775d2b61e058e053efe9707d
24,MO,8154,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 15:58,351,NaN,82744,82744,82744,29,2020-05-02T19:10:00Z,2020-05-02T19:58:00Z,42b005a046c72c4a01cdbb907be692e97a900e39
25,MS,7441,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 15:41,291,1265.0,74475,74475,74475,28,2020-05-01T23:00:00Z,2020-05-02T19:41:00Z,26b818ed60d98ec62f0985bab3455f1c965143fd
26,MT,455,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 14:42,16,61.0,14635,14635,14635,30,2020-05-02T04:00:00Z,2020-05-02T18:42:00Z,1cb7e2609f22efcc0c4ea938eaa63b0282b0b286
27,NC,11509,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 15:44,420,NaN,139475,139475,139475,37,2020-05-02T15:00:00Z,2020-05-02T19:44:00Z,a71123846eca0585a06a236dc2c58f806a2a8aa4
28,ND,1153,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 15:45,24,90.0,31547,31547,31547,38,2020-05-02T17:00:00Z,2020-05-02T19:45:00Z,b97ba34d7db394d92bfe6255354b0b514d969381
29,NE,4838,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",D,...,5/02 15:57,73,NaN,29348,29348,29348,31,2020-05-01T23:45:00Z,2020-05-02T19:57:00Z,70f7e5b015647d492054579216ba1670d61a6a3c
30,NH,2310,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 15:58,81,270.0,24508,24349,24349,33,2020-05-01T13:00:00Z,2020-05-02T19:58:00Z,c2a15c9896e54715fa6d355a74ff9dd3b64b2e22
31,NJ,123717,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/02 16:43,7742,NaN,262988,262312,262312,34,2020-05-02T17:00:00Z,2020-05-02T20:43:00Z,ac7d7e5fede85d5fbede85bf0c7a293719df3b3b
32,NM,3513,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 16:00,131,587.0,71118,71118,71118,35,2020-05-02T00:02:00Z,2020-05-02T20:00:00Z,543036d1c5fcffa3968f2b5441301be2227eb3e6
33,NV,5311,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",D,...,5/02 16:50,254,NaN,44387,44387,44387,32,2020-05-02T14:00:00Z,2020-05-02T20:50:00Z,b171c1ba15fe866901ca12ed66c3b490446015ce
34,NY,312977,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:47,18909,67890.0,959071,959071,959071,36,2020-05-02T04:00:00Z,2020-05-02T20:47:00Z,e48c3f8563a570bf0e09d27bf97cfa38d6964909
35,OH,19335,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:06,1021,3712.0,145819,145819,145819,39,2020-05-02T18:00:00Z,2020-05-02T20:06:00Z,c73e58bad8a54133089cbe9ddd9c1e23402fde52
36,OK,3851,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 16:07,238,743.0,63655,63655,63655,40,2020-05-02T04:00:00Z,2020-05-02T20:07:00Z,cc58583f8d218909ac25f5fd1aa28c48d5f6c003
37,OR,2635,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/02 16:08,109,595.0,60136,60136,60136,41,2020-05-02T15:00:00Z,2020-05-02T20:08:00Z,14e94aa417ed520cf0e2587bfbdb831b9ab199d2
38,PA,48305,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:10,2418,NaN,235376,235376,235376,42,2020-05-02T04:00:00Z,2020-05-02T20:10:00Z,ead869aa988d906dbb29adace1c0460b79308f5c
39,RI,9289,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/02 14:53,296,977.0,69928,69928,69928,44,2020-05-02T16:00:00Z,2020-05-02T18:53:00Z,009ac79b921ff0de236b573256ed2fdde3b3c35b
40,SC,6489,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:42,267,1110.0,61616,61616,61616,45,2020-05-02T19:45:00Z,2020-05-02T20:42:00Z,490082dcaa5d1f3761698bd003f7479692858a2e
41,SD,2588,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 14:55,21,187.0,18091,18091,18091,46,2020-05-01T22:00:00Z,2020-05-02T18:55:00Z,2f92468d04abecf9e939a483800d297f58958fce
42,TN,12661,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 16:15,209,1125.0,196276,196276,196276,47,2020-05-02T19:00:00Z,2020-05-02T20:15:00Z,58d56401f5ff218f6e0567761ca1a9261a59e9b2
43,TX,30522,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 14:15,847,NaN,380648,380648,380648,48,2020-05-02T16:45:00Z,2020-05-02T18:15:00Z,5c066bd077e1f6e75e8fa7fb051244b3e07ee78b
44,UT,4981,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 14:18,49,418.0,117804,117804,117804,49,2020-05-02T04:00:00Z,2020-05-02T18:18:00Z,9c6b8fc0eec9cbcba119671b5c7cd5d74fae23ff
45,VA,17731,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 14:53,616,3738.0,113660,113202,113202,51,2020-05-02T04:00:00Z,2020-05-02T18:53:00Z,c965d20b5ae227b903587910ce46f940e326f6b5
46,VT,886,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 15:01,51,NaN,16591,16591,16591,50,2020-05-02T14:18:00Z,2020-05-02T19:01:00Z,ca22bd1791843515ffed475883312787528f5fa4
47,WA,14637,0.0,1.0,0.0,1.0,C,2.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/02 15:14,824,NaN,198724,198724,198724,53,2020-05-01T06:59:00Z,2020-05-02T19:14:00Z,109f0907ed0285fc4f1d344344cf13e5e1ce158f
48,WI,7660,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/02 15:37,334,1591.0,83461,83230,83230,55,2020-05-02T20:00:00Z,2020-05-02T19:37:00Z,f3f3b75ea6134fcf5570e7eb34f0825def3f820f
49,WV,1169,1.0,1.0,1.0,0.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 16:04,48,NaN,49146,49146,49146,54,2020-05-02T14:00:00Z,2020-05-02T20:04:00Z,39863e7f32c66be9ba258d3680df96db6b33fccc
50,WY,566,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 16:28,7,58.0,10029,10029,10029,56,2020-05-01T19:49:00Z,2020-05-02T20:28:00Z,7d089e56bf2b1f64573f003dece806b074e5eb91
51,PR,1757,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",D,...,5/02 14:45,95,NaN,11070,11070,11070,72,2020-05-02T10:00:00Z,2020-05-02T18:45:00Z,c1ae22f3614ad56d71656bace7d29eac2dcd1aa9
52,AS,0,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",F,...,5/02 14:29,0,NaN,57,57,57,60,2020-05-01T04:00:00Z,2020-05-02T18:29:00Z,7cc404866ae53ff0ad06cc344bee3189c4ee8fb3
53,GU,148,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",F,...,5/02 16:05,5,NaN,3188,3188,3188,66,2020-05-02T12:15:00Z,2020-05-02T20:05:00Z,748b19c20c2b6fd655e0309b570e8368307b023a
54,MP,14,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",D,...,5/02 15:01,2,NaN,948,948,948,69,2020-05-02T10:37:00Z,2020-05-02T19:01:00Z,5e52293bea91471c126bd1a55d02b5dabb67c7f7
55,VI,66,NaN,NaN,NaN,NaN,NaN,NaN,"Please stop using the ""total"" field. Use ""tota...",C,...,5/02 14:57,4,NaN,1042,988,988,78,2020-05-01T23:59:00Z,2020-05-02T18:57:00Z,6fe9fbc352fda0bdd77fc031f5f2799407ee959a

In [78]:
url = 'https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_confirmed_usafacts.csv'
covid_county = pd.read_csv(url)

In [85]:
covid_county

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,33,36,37,37,39,40,42,42,42,45
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,143,147,154,161,168,171,173,174,175,181
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,30,32,33,33,35,37,37,39,42,43
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,33,34,35,38,42,42,42,42,42,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,10,10,10,10,10,10,10,11,11,11
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,63,64,64,64,64,64,64,65,65,66
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [252]:
hospitals = pd.read_csv('Hospitals.csv')

In [253]:
hospitals

,FID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N
3,4,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,NOT AVAILABLE,(323) 462-2271,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://sch-hollywood.com/,NOT AVAILABLE,HOLLYWOOD COMMUNITY HOSPITAL OF HOLLYWOOD,6,PROPRIETARY,-999,100,NOT AVAILABLE,N
4,5,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.khbaldwinpark.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,95,NOT AVAILABLE,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7576,7577,181742223,BLANCHFIELD ARMY COMMUNITY HOSPITAL,650 JOEL DRIVE,FORT CAMPBELL,KY,42223,NOT AVAILABLE,(270) 798-8400,MILITARY,...,2019/05/16 00:00:00,NOT AVAILABLE,NOT AVAILABLE,NOT AVAILABLE,21,GOVERNMENT - FEDERAL,-999,-999,NOT AVAILABLE,Y
7577,7578,181840121,IRELAND ARMY COMMUNITY HOSPITAL,289 IRELAND AVE.,FORT KNOX,KY,40121,NOT AVAILABLE,(502) 624-9333,MILITARY,...,2019/05/16 00:00:00,NOT AVAILABLE,NOT AVAILABLE,NOT AVAILABLE,21,GOVERNMENT - FEDERAL,-999,-999,NOT AVAILABLE,Y
7578,7579,181992055,NAVAL HOSPITAL CAMP PENDLETON,"200 MERCY CIRCLE , CAMP PENDLETON",OCEANSIDE,CA,92055,NOT AVAILABLE,(760) 725-4357,MILITARY,...,2019/05/16 00:00:00,NOT AVAILABLE,NOT AVAILABLE,NOT AVAILABLE,6,GOVERNMENT - FEDERAL,-999,-999,NOT AVAILABLE,Y
7579,7580,182096919,NAVAL HOSPITAL GUAM,"FARENHOLT AVE., BLDG 50",AGANA HEIGHTS,GU,96919,NOT AVAILABLE,(671) 344-9242,MILITARY,...,2019/05/09 00:00:00,NOT AVAILABLE,NOT AVAILABLE,NOT AVAILABLE,66,GOVERNMENT - FEDERAL,-999,-999,NOT AVAILABLE,Y
7580,7581,182120889,WALTER REED NATIONAL MILITARY MEDICAL CENTER,8901 ROCKVILLE PIKE,BETHESDA,MD,20889,NOT AVAILABLE,(301) 295-4611,MILITARY,...,2019/05/16 00:00:00,https://www.wrnmmc.capmed.mil/SitePages/home.aspx,NOT AVAILABLE,NOT AVAILABLE,24,GOVERNMENT - FEDERAL,-999,-999,LEVEL II,Y

In [254]:
counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [256]:
pd.read_csv('')

(109696, 6)

In [263]:
import requests
import json
import prettytable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
            if 'M01' <= period <= 'M12':' x.add_row([seriesId,year,period,value,footnotes[0:-1]])
                    output = open(seriesId + '.txt','w')
                    output.write (x.get_string())
                    output.close()

SyntaxError: EOL while scanning string literal (<ipython-input-263-4b812ae8be1f>, line 19)