In [1]:
import pandas as pd
import datetime as dt
import time
import requests

Full from site (ACS): https://api.census.gov/data/2013/acs/acs1?get=NAME,B02015_009E,B02015_009M&for=state:*

In [2]:
# Base URL for the 2017 ACS survey
base_url = "https://api.census.gov/data/2018/acs/acsse?get="

In [3]:
# add ons to URL for pull
features = 'K200001_001E','K200002_001E','K200101_001E','K200101_002E','K200101_003E','K200102_001E','K200102_002E','K200102_003E','K200102_004E','K200102_005E','K200102_006E','K200102_007E','K200102_008E','K200102_009E','K200103_001E','K200103_002E','K200103_003E','K200104_001E','K200104_002E','K200104_003E','K200104_004E','K200104_005E','K200104_006E','K200104_007E','K200104_008E','K200201_001E','K200201_002E','K200201_003E','K200201_004E','K200201_005E','K200201_006E','K200201_007E','K200201_008E','K200301_001E','K200301_002E','K200301_003E','K200501_001E','K200501_002E','K200501_003E','K200501PR_001E','K200501PR_002E','K200501PR_003E','K200503_001E','K200503_002E','K200503_003E','K200503_004E','K200503_005E','K200503_006E','K200503PR_001E','K200503PR_002E','K200503PR_003E','K200503PR_004E','K200503PR_005E','K200701_001E','K200701_002E','K200701_003E','K200701_004E','K200701_005E','K200701_006E','K200701PR_001E','K200701PR_002E','K200701PR_003E','K200701PR_004E','K200701PR_005E','K200701PR_006E','K200801_001E','K200801_002E','K200801_003E','K200801_004E','K200801_005E','K200801_006E','K200802_001E','K200802_002E','K200802_003E','K200802_004E','K200802_005E','K200901_001E','K200901_002E','K200901_003E','K200901_004E','K200901_005E','K200901_006E','K200901_007E','K200901_008E','K200901_009E','K201001_001E','K201001_002E','K201001_003E','K201001_004E','K201001_005E','K201001_006E','K201101_001E','K201101_002E','K201101_003E','K201101_004E','K201101_005E','K201102_001E','K201102_002E','K201102_003E','K201102_004E','K201102_005E','K201102_006E','K201102_007E','K201401_001E','K201401_002E','K201401_003E','K201401_004E','K201401_005E','K201401_006E','K201401_007E','K201401_008E','K201401_009E','K201401_010E','K201501_001E','K201501_002E','K201501_003E','K201501_004E','K201501_005E','K201501_006E','K201501_007E','K201501_008E','K201601_001E','K201601_002E','K201601_003E','K201601_004E','K201601_005E','K201601_006E','K201601_007E','K201601_008E','K201701_001E','K201701_002E','K201701_003E','K201701_004E','K201701_005E','K201701_006E','K201701_007E','K201701_008E','K201701_009E','K201702_001E','K201702_002E','K201702_003E','K201702_004E','K201702_005E','K201702_006E','K201703_001E','K201703_002E','K201703_003E','K201703_004E','K201703_005E','K201703_006E','K201703_007E','K201703_008E','K201703_009E','K201703_010E','K201703_011E','K201801_001E','K201801_002E','K201801_003E','K201801_004E','K201801_005E','K201801_006E','K201802_001E','K201802_002E','K201802_003E','K201802_004E','K201802_005E','K201802_006E','K201802_007E','K201802_008E','K201802_009E','K201802_010E','K201803_001E','K201803_002E','K201803_003E','K201803_004E','K201803_005E','K201803_006E','K201803_007E','K201803_008E','K201803_009E','K201901_001E','K201901_002E','K201901_003E','K201901_004E','K201901_005E','K201901_006E','K201901_007E','K201901_008E','K201902_001E','K201903_001E','K201903_002E','K201903_003E','K201903_004E','K201903_005E','K201903_006E','K201903_007E','K201903_008E','K201904_001E','K201905_001E','K202002_001E','K202002_002E','K202002_003E','K202002_004E','K202002_005E','K202101_001E','K202101_002E','K202101_003E','K202101_004E','K202101_005E','K202101_006E','K202102_001E','K202102_002E','K202102_003E','K202201_001E','K202201_002E','K202201_003E','K202201_004E','K202201_005E','K202201_006E','K202201_007E','K202301_001E','K202301_002E','K202301_003E','K202301_004E','K202301_005E','K202301_006E','K202301_007E','K202302_001E','K202302_002E','K202302_003E','K202302_004E','K202302_005E','K202302_006E','K202302_007E','K202302_008E','K202302_009E','K202302_010E','K202302_011E','K202401_001E','K202401_002E','K202401_003E','K202401_004E','K202401_005E','K202401_006E','K202402_001E','K202402_002E','K202402_003E','K202402_004E','K202402_005E','K202402_006E','K202402_007E','K202402_008E','K202402_009E','K202403_001E','K202403_002E','K202403_003E','K202403_004E','K202403_005E','K202403_006E','K202403_007E','K202403_008E','K202403_009E','K202403_010E','K202403_011E','K202403_012E','K202403_013E','K202403_014E','K202501_001E','K202501_002E','K202501_003E','K202502_001E','K202502_002E','K202502_003E','K202503_001E','K202503_002E','K202503_003E','K202504_001E','K202504_002E','K202504_003E','K202504_004E','K202504_005E','K202504_006E','K202504_007E','K202505_001E','K202505_002E','K202505_003E','K202505_004E','K202505_005E','K202505_006E','K202505_007E','K202506_001E','K202506_002E','K202506_003E','K202506_004E','K202506_005E','K202507_001E','K202507_002E','K202507_003E','K202507_004E','K202507_005E','K202507_006E','K202507_007E','K202508_001E','K202508_002E','K202508_003E','K202509_001E','K202509_002E','K202509_003E','K202509_004E','K202509_005E','K202509_006E','K202509_007E','K202509_008E','K202509_009E','K202510_001E','K202511_001E','K202601_001E','K202701_001E','K202701_002E','K202701_003E','K202701_004E','K202701_005E','K202701_006E','K202701_007E','K202701_008E','K202701_009E','K202701_010E','K202702_001E','K202702_002E','K202702_003E','K202703_001E','K202703_002E','K202703_003E','K202801_001E','K202801_002E','K202801_003E','K202801_004E','K202801_005E','K202801_006E'
len(features)

339

In [4]:
len(features)%50

39

In [88]:
# Set the number of items 
# This line removes the single quotes and removes white space for api


geo = "&for=county:*"
census_data = []

l = 50                # number of variables per quarry, per API
n = len(features)//l  # number of full pulls upto the limit
m = len(features)%l   # partial pull of remainder

for i in range(1,n+1):
    limit = features[((l*(i-1))+1):(l*i)]
    limits = str(limit)

    feat1 = limits.replace("'","")
    feat2 = feat1.replace("(","")
    feat3 = feat2.replace(")","")
    feat = feat3.replace(" ", "")
    feat
    
    url = base_url+feat+geo
    
    print(f'pulling number {i}')     # Just a status check during the pull
    res = requests.get(url)          # Requests the pull
    assert res.status_code == 200    # Checks that the requests was successful
    print(f'pull {i} was successful')
    
    json = res.json()
    df = pd.DataFrame(json)
    census_data.append(df)
  

    
limit = features[((l*(n-1))+1):(l*n)+m]
limits = str(limit)
feat1 = limits.replace("'","")
feat2 = feat1.replace("(","")
feat3 = feat2.replace(")","")
feat = feat3.replace(" ", "")

url = base_url+feat+geo

print(f'pulling number remainder')     # Just a status check during the pull
res = requests.get(url)          # Requests the pull
assert res.status_code == 200    # Checks that the requests was successful
print(f'pull remainder was successful')

json = res.json()
df = pd.DataFrame(json)
census_data.append(df)

pulling number 1
pull 1 was successful
pulling number 2
pull 2 was successful
pulling number 3
pull 3 was successful
pulling number 4
pull 4 was successful
pulling number 5
pull 5 was successful
pulling number 6
pull 6 was successful

In [99]:

cd.columns = cd.loc[0].values
cd.head()

,K200002_001E,K200101_001E,K200101_002E,K200101_003E,K200102_001E,K200102_002E,K200102_003E,K200102_004E,K200102_005E,K200102_006E,...,K202506_003E,K202506_004E,K202506_005E,K202507_001E,K202507_002E,K202507_003E,K202507_004E,K202507_005E,state,county
0,K200002_001E,K200101_001E,K200101_002E,K200101_003E,K200102_001E,K200102_002E,K200102_003E,K200102_004E,K200102_005E,K200102_006E,...,K202506_003E,K202506_004E,K202506_005E,K202507_001E,K202507_002E,K202507_003E,K202507_004E,K202507_005E,state,county
1,300,55601,26656,28945,13163,13163,1806,2462,1547,2550,...,6975,2844,2143,4380,3640,231,1584,1743,01,001
2,1300,218022,105437,112585,47156,47143,5545,7456,5325,7521,...,20395,10891,6174,20491,17748,1450,6406,9087,01,003
3,250,24881,12982,11899,5400,5400,1188,732,668,801,...,1916,1383,1184,3481,3197,896,1725,576,01,005
4,None,22400,13008,9392,4046,4001,664,773,0,1098,...,1512,1979,1447,None,None,None,None,None,01,007

In [90]:
cd = pd.concat(census_data, axis= 1)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,K200002_001E,K200101_001E,K200101_002E,K200101_003E,K200102_001E,K200102_002E,K200102_003E,K200102_004E,K200102_005E,K200102_006E,...,K202506_003E,K202506_004E,K202506_005E,K202507_001E,K202507_002E,K202507_003E,K202507_004E,K202507_005E,state,county
1,300,55601,26656,28945,13163,13163,1806,2462,1547,2550,...,6975,2844,2143,4380,3640,231,1584,1743,01,001
2,1300,218022,105437,112585,47156,47143,5545,7456,5325,7521,...,20395,10891,6174,20491,17748,1450,6406,9087,01,003
3,250,24881,12982,11899,5400,5400,1188,732,668,801,...,1916,1383,1184,3481,3197,896,1725,576,01,005
4,None,22400,13008,9392,4046,4001,664,773,0,1098,...,1512,1979,1447,None,None,None,None,None,01,007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,None,35806,18277,17529,6719,6709,642,774,1077,1258,...,1664,1111,3400,None,None,None,None,None,72,107
1907,300,50185,23983,26202,9472,9464,1256,1056,998,2107,...,2326,1128,2723,1974,1160,666,494,0,72,017
1908,None,21476,10352,11124,4257,4175,518,608,992,454,...,1635,878,1170,None,None,None,None,None,12,123
1909,None,33055,13885,19170,5947,5947,822,572,1196,1025,...,3113,2385,3137,2475,1737,437,1072,228,35,039
1910,300,33860,16307,17553,6094,6094,498,1016,1335,1579,...,1660,1212,2682,None,None,None,None,None,72,111

In [72]:
census_data[0].loc[0].drop(0, inplace = True)
census_data[0]

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,K200002_001E,K200101_001E,K200101_002E,K200101_003E,K200102_001E,K200102_002E,K200102_003E,K200102_004E,K200102_005E,K200102_006E,...,K200503_001E,K200503_002E,K200503_003E,K200503_004E,K200503_005E,K200503_006E,K200503PR_001E,K200503PR_002E,state,county
1,300,55601,26656,28945,13163,13163,1806,2462,1547,2550,...,55601,54237,36436,17154,647,1364,None,None,01,001
2,1300,218022,105437,112585,47156,47143,5545,7456,5325,7521,...,218022,210956,113448,96237,1271,7066,None,None,01,003
3,250,24881,12982,11899,5400,5400,1188,732,668,801,...,24881,24436,16627,7706,103,445,None,None,01,005
4,None,22400,13008,9392,4046,4001,664,773,0,1098,...,22400,21579,19018,2393,168,821,None,None,01,007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,None,35806,18277,17529,6719,6709,642,774,1077,1258,...,None,None,None,None,None,None,35806,33305,72,143
1907,300,50185,23983,26202,9472,9464,1256,1056,998,2107,...,None,None,None,None,None,None,50185,47560,72,145
1908,None,21476,10352,11124,4257,4175,518,608,992,454,...,None,None,None,None,None,None,None,None,72,149
1909,None,33055,13885,19170,5947,5947,822,572,1196,1025,...,None,None,None,None,None,None,None,None,72,151
1910,300,33860,16307,17553,6094,6094,498,1016,1335,1579,...,None,None,None,None,None,None,None,None,72,153

In [54]:
url = base_url+'NAME'+geo
url

'https://api.census.gov/data/2018/acs/acsse?get=NAME&for=county:*'

In [147]:
census = pd.read_csv('../../data/census_data.csv')

In [148]:
census.shape

(3220, 359)

In [149]:
census.head()

,id,Geographic Area Name,Unnamed: 2,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population!!65 years and over.1,Percent Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Male,Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female,Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0500000US01001,Autauga County,Alabama,0.4,76.5,1.2,(X),(X),55200,*****,...,75,8050,(X),3488,30,43.3,0.4,4562,65,56.7
1,0500000US01003,Baldwin County,Alabama,0.1,86.6,0.3,(X),(X),208107,*****,...,69,40665,(X),18870,40,46.4,0.1,21795,56,53.6
2,0500000US01005,Barbour County,Alabama,0.2,76.2,0.6,(X),(X),25782,*****,...,29,4634,(X),2004,16,43.2,0.2,2630,19,56.8
3,0500000US01007,Bibb County,Alabama,1.3,80.5,4.3,(X),(X),22527,*****,...,161,3661,(X),1633,74,44.6,1.3,2028,114,55.4
4,0500000US01009,Blount County,Alabama,0.5,79.7,1.7,(X),(X),57645,*****,...,91,10233,(X),4540,77,44.4,0.5,5693,60,55.6

In [151]:
err_cols = [col for col in census.columns if 'Error' in col]

In [153]:
census = census.drop(columns = err_cols)

In [160]:
census.rename(columns = {'Geographic Area Name': 'county',
                          'Unnamed: 2': 'state'}, inplace = True)

In [163]:
per_cols = [col for col in census.columns if 'Perce' in col]

In [164]:
census = census.drop(columns = per_cols)

In [165]:
census.head()

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0500000US01001,Autauga County,Alabama,76.5,55200,54170,1030,54170,42437,10565,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,0500000US01003,Baldwin County,Alabama,86.6,208107,204535,3572,204535,179526,19764,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,0500000US01005,Barbour County,Alabama,76.2,25782,25429,353,25429,12216,12266,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,0500000US01007,Bibb County,Alabama,80.5,22527,22340,187,22340,17268,5018,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,0500000US01009,Blount County,Alabama,79.7,57645,56710,935,56710,55054,862,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693

In [173]:
census.head()

,id,county,state,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,...,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0500000US01001,Autauga County,Alabama,76.5,55200,54170,1030,54170,42437,10565,...,39614,9403,8050,41831,20054,21777,92.1,8050,3488,4562
1,0500000US01003,Baldwin County,Alabama,86.6,208107,204535,3572,204535,179526,19764,...,155502,49811,40665,162430,78104,84326,92.6,40665,18870,21795
2,0500000US01005,Barbour County,Alabama,76.2,25782,25429,353,25429,12216,12266,...,19394,5658,4634,20346,10923,9423,115.9,4634,2004,2630
3,0500000US01007,Bibb County,Alabama,80.5,22527,22340,187,22340,17268,5018,...,16864,4323,3661,17868,9578,8290,115.5,3661,1633,2028
4,0500000US01009,Blount County,Alabama,79.7,57645,56710,935,56710,55054,862,...,42232,12400,10233,44177,21595,22582,95.6,10233,4540,5693

In [172]:
census.to_csv(r'../../data/census.csv')