In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import silhouette_score
from sklearn.datasets import load_iris, load_wine
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA

random_state = 11

In [35]:
lassoed = pd.read_csv('../../../lassoed_df.csv')

In [36]:
master

,Unnamed: 0,key_0,county,land_area,water_area,county_x,state,id,population,estimate!!race!!total population!!one race!!american indian and alaska native,...,estimate!!sex and age!!total population!!median age (years) ratio,estimate!!sex and age!!total population!!under 18 years ratio,estimate!!sex and age!!total population!!16 years and over ratio,estimate!!sex and age!!total population!!18 years and over ratio,estimate!!sex and age!!total population!!21 years and over ratio,estimate!!sex and age!!total population!!18 years and over.1 ratio,estimate!!sex and age!!total population!!18 years and over!!female ratio,estimate!!sex and age!!total population!!18 years and over!!sex ratio (males per 100 females) ratio,estimate!!sex and age!!total population!!65 years and over!!male ratio,estimate!!sex and age!!total population!!65 years and over!!female ratio
0,0,0,autauga county,1539602155,25706961,autauga county,AL,1001,55200,159,...,0.000685,0.242192,0.785652,0.757808,0.717645,0.757808,0.394511,0.001668,0.063188,0.082645
1,1,1,baldwin county,4117625664,1132976859,baldwin county,AL,1003,208107,1522,...,0.000206,0.219488,0.805893,0.780512,0.747221,0.780512,0.405205,0.000445,0.090675,0.104730
2,2,2,barbour county,2292160140,50523213,barbour county,AL,1005,25782,72,...,0.001548,0.210845,0.812505,0.789155,0.752230,0.789155,0.365488,0.004495,0.077729,0.102009
3,3,3,bibb county,1612159622,9601400,bibb county,AL,1007,22527,8,...,0.001771,0.206818,0.819905,0.793182,0.748613,0.793182,0.368003,0.005127,0.072491,0.090025
4,4,4,blount county,1670127873,14991464,blount county,AL,1009,57645,141,...,0.000708,0.233637,0.796513,0.766363,0.732622,0.766363,0.391743,0.001658,0.078758,0.098760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3103,3103,3103,sweetwater county,27005754251,166230252,sweetwater county,WY,56037,44117,742,...,0.000784,0.267675,0.760002,0.732325,0.691139,0.732325,0.351520,0.002455,0.051273,0.055738
3104,3104,3104,teton county,10351790056,570859113,teton county,WY,56039,23059,77,...,0.001704,0.192289,0.823236,0.807711,0.787935,0.807711,0.390563,0.004632,0.066178,0.069778
3105,3105,3105,uinta county,5391631764,16625817,uinta county,WY,56041,20609,160,...,0.001723,0.294580,0.736377,0.705420,0.676355,0.705420,0.352176,0.004867,0.059877,0.061332
3106,3106,3106,washakie county,5798138761,10429604,washakie county,WY,56043,8129,52,...,0.005351,0.238898,0.806618,0.761102,0.732070,0.761102,0.374585,0.012695,0.097675,0.109731
3107,3107,3107,weston county,6210804117,5225499,weston county,WY,56045,7100,37,...,0.006042,0.211972,0.803099,0.788028,0.765352,0.788028,0.376338,0.015408,0.089718,0.099014

In [37]:
covid_cols = ['total_covid', 'case_per_pop', 'beds_per_pop','beds_per_case', 'hospital_beds', 'deaths', 'cases']
no_covid = master.drop(columns = ['total_covid', 'case_per_pop', 'beds_per_pop',
                                'beds_per_case', 'hospital_beds', 'deaths', 'cases', 'county_x', 'id', 'countyfips', 'state', 'county_y'])

In [38]:
ss = StandardScaler()

X_scaled = ss.fit_transform(no_covid)

dbscan = DBSCAN(eps = .45, min_samples= 7)
dbscan.fit(X_scaled)

ValueError: could not convert string to float: 'autauga county'

In [ ]:
no_covid['cluster'] = dbscan.labels_

In [ ]:
no_covid['cluster'].value_counts()

In [ ]:
no_covid.groupby('cluster').mean().T

## PCA 
- Start with Lassoed, then can try all

In [62]:
lassoed.head()

,Unnamed: 0,key_0,county,land_area,water_area,county_x,state,id,population,estimate!!race!!total population!!one race!!american indian and alaska native,...,estimate!!sex and age!!total population!!median age (years) ratio,estimate!!sex and age!!total population!!under 18 years ratio,estimate!!sex and age!!total population!!16 years and over ratio,estimate!!sex and age!!total population!!18 years and over ratio,estimate!!sex and age!!total population!!21 years and over ratio,estimate!!sex and age!!total population!!18 years and over.1 ratio,estimate!!sex and age!!total population!!18 years and over!!female ratio,estimate!!sex and age!!total population!!18 years and over!!sex ratio (males per 100 females) ratio,estimate!!sex and age!!total population!!65 years and over!!male ratio,estimate!!sex and age!!total population!!65 years and over!!female ratio
0,0,0,autauga county,1539602155,25706961,autauga county,AL,1001,55200,159,...,0.000685,0.242192,0.785652,0.757808,0.717645,0.757808,0.394511,0.001668,0.063188,0.082645
1,1,1,baldwin county,4117625664,1132976859,baldwin county,AL,1003,208107,1522,...,0.000206,0.219488,0.805893,0.780512,0.747221,0.780512,0.405205,0.000445,0.090675,0.104730
2,2,2,barbour county,2292160140,50523213,barbour county,AL,1005,25782,72,...,0.001548,0.210845,0.812505,0.789155,0.752230,0.789155,0.365488,0.004495,0.077729,0.102009
3,3,3,bibb county,1612159622,9601400,bibb county,AL,1007,22527,8,...,0.001771,0.206818,0.819905,0.793182,0.748613,0.793182,0.368003,0.005127,0.072491,0.090025
4,4,4,blount county,1670127873,14991464,blount county,AL,1009,57645,141,...,0.000708,0.233637,0.796513,0.766363,0.732622,0.766363,0.391743,0.001658,0.078758,0.098760

In [71]:
X = lassoed.drop(columns = ['total_covid', 'deaths', 'county_x', 'county_y', 'state', 'id', 'population', 
                           'case_per_pop', 'beds_per_case', 'unnamed: 0_y', 'st_num',
                           'cases', 'countyfips', 'key_0', 'county', 'Unnamed: 0'])
y = lassoed['case_per_pop']

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 11, stratify = y)

In [73]:
X.head()

,land_area,water_area,estimate!!race!!total population!!one race!!american indian and alaska native,estimate!!race!!total population!!one race!!american indian and alaska native!!cherokee tribal grouping,estimate!!race!!total population!!one race!!american indian and alaska native!!chippewa tribal grouping,estimate!!race!!total population!!one race!!american indian and alaska native!!sioux tribal grouping,estimate!!race!!total population!!one race!!asian!!asian indian,estimate!!race!!total population!!one race!!asian!!filipino,estimate!!race!!total population!!one race!!asian!!japanese,estimate!!race!!total population!!one race!!asian!!korean,...,estimate!!sex and age!!total population!!median age (years) ratio,estimate!!sex and age!!total population!!under 18 years ratio,estimate!!sex and age!!total population!!16 years and over ratio,estimate!!sex and age!!total population!!18 years and over ratio,estimate!!sex and age!!total population!!21 years and over ratio,estimate!!sex and age!!total population!!18 years and over.1 ratio,estimate!!sex and age!!total population!!18 years and over!!female ratio,estimate!!sex and age!!total population!!18 years and over!!sex ratio (males per 100 females) ratio,estimate!!sex and age!!total population!!65 years and over!!male ratio,estimate!!sex and age!!total population!!65 years and over!!female ratio
0,1539602155,25706961,159,82,0,0,0,120,27,88,...,0.000685,0.242192,0.785652,0.757808,0.717645,0.757808,0.394511,0.001668,0.063188,0.082645
1,4117625664,1132976859,1522,285,0,15,43,204,478,137,...,0.000206,0.219488,0.805893,0.780512,0.747221,0.780512,0.405205,0.000445,0.090675,0.104730
2,2292160140,50523213,72,26,0,0,11,5,0,48,...,0.001548,0.210845,0.812505,0.789155,0.752230,0.789155,0.365488,0.004495,0.077729,0.102009
3,1612159622,9601400,8,0,0,0,37,0,0,0,...,0.001771,0.206818,0.819905,0.793182,0.748613,0.793182,0.368003,0.005127,0.072491,0.090025
4,1670127873,14991464,141,20,0,0,42,53,9,34,...,0.000708,0.233637,0.796513,0.766363,0.732622,0.766363,0.391743,0.001658,0.078758,0.098760

In [83]:
# Standard Scalar

ss = StandardScaler()     # Instantiate

# Standardize X_train and X_test 

X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [84]:
pca = PCA(random_state = random_state) # Instantiate the PCA
pca.fit(X_train)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=11,
    svd_solver='auto', tol=0.0, whiten=False)

In [85]:
Z_train = pca.transform(X_train)
Z_test = pca.transform(X_test)

In [86]:
pd.DataFrame(Z_train).describe()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
count,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,...,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03,2.331000e+03
mean,-2.848191e-17,-2.605285e-17,-5.966675e-17,7.015695e-17,-8.154019e-17,-1.193573e-16,-1.447910e-17,-1.085932e-17,-3.695981e-17,1.838465e-17,...,-9.016103e-18,9.219066e-18,-2.625028e-17,3.585665e-18,-2.552250e-18,1.035179e-17,6.464530e-20,9.690439e-18,-1.339491e-18,-9.545837e-19
std,4.225450e+00,3.338846e+00,2.679520e+00,2.600044e+00,2.110441e+00,1.906072e+00,1.811724e+00,1.752413e+00,1.560953e+00,1.533912e+00,...,2.685834e-07,2.817283e-15,1.866615e-15,1.331955e-15,9.202052e-16,8.115746e-16,7.247401e-16,7.757900e-16,3.085449e-16,6.704317e-16
min,-9.635451e+00,-1.676421e+01,-1.489340e+01,-1.273432e+01,-6.523878e+00,-1.689355e+01,-3.901006e+01,-2.312893e+01,-1.180782e+01,-1.904359e+01,...,-2.337611e-06,-7.413619e-15,-6.479938e-15,-9.675981e-15,-1.533066e-14,-5.366766e-15,-6.839861e-15,-8.522326e-15,-2.251462e-15,-8.040705e-15
25%,-2.140965e+00,-1.548855e+00,-1.219394e+00,-4.967422e-01,-1.201612e+00,-5.243535e-01,-1.687405e-01,-6.943112e-01,-7.202471e-01,-5.455274e-01,...,-1.597559e-08,-2.033839e-15,-1.265015e-15,-3.198089e-16,-2.161925e-16,-5.481419e-16,-3.110643e-16,-2.608591e-16,-1.541173e-16,-2.862399e-16
50%,-8.512759e-01,-1.024630e-01,-4.111255e-01,1.608341e-01,-2.417951e-01,6.770519e-02,1.859517e-01,-2.800574e-01,-2.545822e-01,4.966551e-02,...,4.456909e-09,-2.278372e-17,-8.521789e-17,-8.218837e-17,-1.322030e-17,5.171828e-18,-1.386241e-17,3.223977e-17,1.000562e-18,-2.546122e-17
75%,1.133305e+00,1.617756e+00,5.916990e-01,6.114764e-01,8.805163e-01,5.414703e-01,3.661064e-01,4.343171e-01,5.573469e-01,6.785199e-01,...,1.984497e-08,2.034500e-15,1.245018e-15,1.895828e-16,2.051789e-16,5.366840e-16,2.979043e-16,2.785209e-16,1.448049e-16,2.537786e-16
max,4.715890e+01,2.770680e+01,2.941836e+01,4.499989e+01,3.882046e+01,1.732319e+01,4.614931e+01,3.166691e+01,2.020111e+01,2.494492e+01,...,2.364901e-06,7.234100e-15,5.752288e-15,3.201369e-14,2.413926e-14,5.120215e-15,7.104325e-15,1.137530e-14,3.005018e-15,7.188936e-15

In [87]:
var_exp = pca.explained_variance_ratio_
var_exp

array([1.68365720e-01, 1.05123658e-01, 6.77051663e-02, 6.37483987e-02,
       4.20004627e-02, 3.42599339e-02, 3.09522091e-02, 2.89588213e-02,
       2.29766742e-02, 2.21875133e-02, 2.09904059e-02, 1.90801408e-02,
       1.76758753e-02, 1.69520649e-02, 1.56978503e-02, 1.53915774e-02,
       1.47177031e-02, 1.41174305e-02, 1.37037979e-02, 1.26031376e-02,
       1.15494745e-02, 1.11190475e-02, 1.01032755e-02, 1.00173380e-02,
       9.67824878e-03, 9.49349065e-03, 9.03624539e-03, 8.85451478e-03,
       8.53371976e-03, 7.88685684e-03, 7.74497634e-03, 7.34754395e-03,
       7.22829662e-03, 6.93891125e-03, 6.73648489e-03, 6.51228316e-03,
       6.22965681e-03, 6.09995204e-03, 5.92256047e-03, 5.52500461e-03,
       5.18207966e-03, 5.14675690e-03, 4.85863679e-03, 4.68416136e-03,
       4.60407795e-03, 4.20754921e-03, 3.79086239e-03, 3.67871732e-03,
       3.51385712e-03, 3.31948331e-03, 3.26659699e-03, 3.17948111e-03,
       2.87395224e-03, 2.70308264e-03, 2.66326822e-03, 2.47182952e-03,
       2.32252368e-03, 2.12047982e-03, 2.05048280e-03, 1.92078250e-03,
       1.76926430e-03, 1.64058838e-03, 1.58078782e-03, 1.44535160e-03,
       1.37538753e-03, 1.29673926e-03, 1.24722944e-03, 1.17222761e-03,
       1.04904887e-03, 9.81672785e-04, 8.82516841e-04, 7.75124423e-04,
       7.40675560e-04, 7.02828759e-04, 6.57255659e-04, 6.28062293e-04,
       4.94205472e-04, 4.71223722e-04, 3.95357282e-04, 3.32004839e-04,
       2.89800303e-04, 2.57999684e-04, 2.18368753e-04, 2.09253571e-04,
       1.99030651e-04, 1.85140552e-04, 1.43656912e-04, 1.14954745e-04,
       1.07481620e-04, 8.24571239e-05, 7.55299512e-05, 6.67507714e-05,
       3.49097270e-05, 2.94808689e-05, 2.21938209e-05, 3.54429522e-07,
       6.80246429e-16, 8.65472986e-32, 2.02727476e-32, 7.96263058e-33,
       3.48504646e-33, 1.68769683e-33, 7.33188243e-34, 7.33188243e-34,
       7.33188243e-34, 3.12887402e-34])

In [90]:
log = LogisticRegression(solver = 'liblinear')
log.fit(X_train,y_train)

print('Train: ', round(log.score(X_train, y_train)))
print('Test: ', round(log.score(X_test, y_test)))

Train:  1.0
Test:  1.0

In [77]:
coefs = log.coef_
coef_df = pd.DataFrame(coefs).T
coef_df['coefficients'] = list(X.columns)
coef_df.rename(columns=({0: 'coefficient',
                        'coefficients': 'feature'}), inplace=True)
coef_df.sort_values(by = 'coefficient')

     coefficient                                            feature
0  -3.441582e-10                                          land_area
1  -2.686226e-10                                         water_area
27 -2.113734e-15                                      hospital_beds
26 -8.043528e-16  estimate!!sex and age!!total population!!18 ye...
3  -7.496676e-16  estimate!!race!!total population!!one race!!am...
..           ...                                                ...
6   2.834119e-14  estimate!!race!!total population!!one race!!as...
18  3.909950e-14  estimate!!hispanic or latino and race!!total p...
23  4.396224e-14  estimate!!sex and age!!total population!!75 to...
22  6.563335e-14  estimate!!sex and age!!total population!!60 to...
19  4.933664e-13  estimate!!hispanic or latino and race!!total p...

[106 rows x 2 columns]

In [79]:
coef_df.loc[coef_df['coefficient'] == 0]

Empty DataFrame
Columns: [coefficient, feature]
Index: []

In [81]:
y_train.value_counts()

0    1777
1     554
Name: case_per_pop, dtype: int64

In [ ]:
log = LogisticRegression(solver = 'liblinear')
log.fit(Z_train,Z_train)

print('Train: ', round(log.score(X_train, y_train)))
print('Test: ', round(log.score(X_test, y_test)))

In [88]:
logp = LogisticRegression(solver = 'liblinear')
logp.fit(Z_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [89]:
print(f'Training Score: {round(logp.score(Z_train, y_train),4)}')
print(f'Testing Score: {round(logp.score(Z_test, y_test),4)}')

Training Score: 0.825
Testing Score: 0.8031