In [1]:
import requests
import pandas as pd
import json
import geopandas
import operator
from prettytable import PrettyTable
import time

import numpy as np
from bs4 import BeautifulSoup

In [2]:
url =('https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_county_population_usafacts.csv')
pop_county_data = pd.read_csv(url)
#pop_county_data.to_csv('pop_county_data.csv')
pop_county_data.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [3]:
pop_county_data.drop(columns = ['population'],inplace=True)

In [4]:
df_county = pop_county_data

In [5]:
df_new = df_county.drop(df_county[(df_county['County Name'] == 'Statewide Unallocated')].index)

#pop_county_data.drop(pop_county_data[(pop_county_data['County Name'] == 'Statewide Unallocated')])

In [6]:
url = 'https://covidtracking.com/api/v1/states/current.csv'
covid_cases_state = pd.read_csv(url)
covid_cases_state.to_csv('covid_cases_state.csv')

In [7]:
covid_cases_state.head()

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,notes,dataQualityGrade,...,checkTimeEt,death,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,hash
0,AK,381,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/11 15:46,10,NaN,28680,28680,28680,2,2020-05-11T04:00:00Z,2020-05-11T19:46:00Z,bd543de63eeb59b4b6923ae99245e6425054a97c
1,AL,10009,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/11 16:17,401,1256.0,129444,129444,129444,1,2020-05-11T04:00:00Z,2020-05-11T20:17:00Z,67160870111fbf3e3a339a1697cfd0e5446a21b9
2,AR,4034,1.0,1.0,1.0,1.0,A,4.0,"Please stop using the ""total"" field. Use ""tota...",A,...,5/11 16:42,94,480.0,69030,69030,69030,5,2020-05-10T23:05:00Z,2020-05-11T20:42:00Z,4ca0c4a384a25834f7038e0bc189f699ddc323b2
3,AZ,11380,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",A+,...,5/11 14:44,542,1537.0,150241,150241,150241,4,2020-05-11T04:00:00Z,2020-05-11T18:44:00Z,76c588f4eb92839c369a2b00f17aa6dc0749ede4
4,CA,67939,1.0,1.0,0.0,1.0,B,3.0,"Please stop using the ""total"" field. Use ""tota...",B,...,5/11 14:04,2770,NaN,991897,991897,991897,6,2020-05-11T04:00:00Z,2020-05-11T18:04:00Z,715ffc157e8736b085b36a009a5722f7f6a57a80

In [8]:
url = 'https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_confirmed_usafacts.csv'
covid_county = pd.read_csv(url)
covid_county.to_csv('covid_county.csv')

In [9]:
df = covid_county
df.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,45,48,53,53,58,61,67,68,74,84
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,181,187,188,189,196,205,208,216,222,224
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,43,45,45,47,47,51,53,58,59,61
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,42,42,42,43,43,44,44,45,46,46

In [10]:
covid_county = df.drop(df[(df['County Name'] == 'Statewide Unallocated')].index)

In [11]:
covid_county['total_covid']  = df['5/8/20']

In [12]:
covid_county

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,total_covid
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,48,53,53,58,61,67,68,74,84,67
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,187,188,189,196,205,208,216,222,224,208
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,45,45,47,47,51,53,58,59,61,53
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,42,42,43,43,44,44,45,46,46,44
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,40,40,40,42,44,44,44,44,45,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,11,11,11,12,12,12,12,12,13,12
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,67,67,67,67,67,67,67,67,67,67
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6,6,6,6,6,7,7,7,7,7
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df = pd.DataFrame(covid_county,columns = ['County Name','State','total_covid','countyFIPS'])
df.head()

      County Name State  total_covid  countyFIPS
1  Autauga County    AL           67        1001
2  Baldwin County    AL          208        1003
3  Barbour County    AL           53        1005
4     Bibb County    AL           44        1007
5   Blount County    AL           44        1009

In [14]:
zips = pd.read_csv('../../data/uszips.csv')
#zips.columns.str.replace(county_name)

In [15]:
zips.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
       'military', 'timezone'],
      dtype='object')

In [16]:
hospitals = pd.read_csv('../../data/Hospitals.csv')
hospitals.columns = hospitals.columns.str.replace('ZIP','zip')
hospitals.head()

,FID,ID,NAME,ADDRESS,CITY,STATE,zip,zip4,TELEPHONE,TYPE,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N
3,4,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,NOT AVAILABLE,(323) 462-2271,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://sch-hollywood.com/,NOT AVAILABLE,HOLLYWOOD COMMUNITY HOSPITAL OF HOLLYWOOD,6,PROPRIETARY,-999,100,NOT AVAILABLE,N
4,5,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,2014/02/10 00:00:00,http://www.khbaldwinpark.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,95,NOT AVAILABLE,N

In [17]:
med = pd.merge(hospitals,zips,on='zip')
med.columns = med.columns.str.replace('county_name','County')
med.head(
)

,FID,ID,NAME,ADDRESS,CITY,STATE,zip,zip4,TELEPHONE,TYPE,...,population,density,county_fips,County,county_weights,Countys_all,county_fips_all,imprecise,military,timezone
0,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings,{'06031':100},Kings,06031,False,False,America/Los_Angeles
1,1915,193230,ADVENTIST MEDICAL CENTER,115 MALL DRIVE,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings,{'06031':100},Kings,06031,False,False,America/Los_Angeles
2,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,36062,709.0,6111,Ventura,"{'06037':3.37,'06111':96.63}",Ventura|Los Angeles,06111|06037,False,False,America/Los_Angeles
3,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles
4,2615,26590023,LOS ANGELES COMMUNITY HOSPITAL,4081 EAST OLYMPIC BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles

In [18]:
med['County'] = [i + " " + "County" for i in med['County']]

In [19]:
parishes = med.loc[med['STATE'] == 'LA']
parishes['County'] = parishes['County'] + ' Parish'
parishes['STATE'] = 'LA'
(med.loc[med['STATE'] == 'LA']) = parishes
med.head()

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,FID,ID,NAME,ADDRESS,CITY,STATE,zip,zip4,TELEPHONE,TYPE,...,population,density,county_fips,County,county_weights,Countys_all,county_fips_all,imprecise,military,timezone
0,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings County,{'06031':100},Kings,06031,False,False,America/Los_Angeles
1,1915,193230,ADVENTIST MEDICAL CENTER,115 MALL DRIVE,HANFORD,CA,93230,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,66800,95.9,6031,Kings County,{'06031':100},Kings,06031,False,False,America/Los_Angeles
2,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,36062,709.0,6111,Ventura County,"{'06037':3.37,'06111':96.63}",Ventura|Los Angeles,06111|06037,False,False,America/Los_Angeles
3,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles County,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles
4,2615,26590023,LOS ANGELES COMMUNITY HOSPITAL,4081 EAST OLYMPIC BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,NOT AVAILABLE,GENERAL ACUTE CARE,...,46780,4195.7,6037,Los Angeles County,{'06037':100},Los Angeles,06037,False,False,America/Los_Angeles

In [20]:
med_beds = med.groupby('County')['BEDS'].sum()
med_hospitals = (med.groupby('County')['NAME']).value_counts().groupby('County').sum()
len(med_hospitals)

1589

In [21]:
counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [22]:
#counties.to_csv('counties.csv')
counties.drop(columns=['date'],inplace=True)

In [23]:
counties.columns = counties.columns.str.replace('county','County Name')

In [24]:
len(counties['County Name'].unique())

1715

In [25]:
#d = {'sum_cases': 'cases', 'sum_deaths': 'deaths'}
#df_new = counties.groupby('county', as_index=False).aggregate(d).reindex(columns=counties.columns)

grouped_counties_cases = counties.groupby('County Name')['cases'].sum()
grouped_counties_deaths = counties.groupby('County Name')['deaths'].sum()

In [26]:


county_cases = pd.merge(grouped_counties_cases,grouped_counties_deaths,on='County Name')
#county_cases.shape
df = pd.merge(df,county_cases,left_on='County Name',right_on = 'County Name',how='left')
#df.shape#df['County Name'].sort_values(ascending=True)

In [27]:
df.fillna(0, inplace=True)
df.columns = df.columns.str.replace('County Name','County')

In [28]:
df = pd.merge(df,med_beds,left_on='County',right_on = 'County',how='left')

In [29]:
df = pd.merge(df,med_hospitals,left_on='County',right_on = 'County',how='left')
df.head()

           County State  total_covid  countyFIPS  cases  deaths    BEDS  NAME
0  Autauga County    AL           67        1001    0.0     0.0    85.0   1.0
1  Baldwin County    AL          208        1003    0.0     0.0   538.0   5.0
2  Barbour County    AL           53        1005    0.0     0.0   146.0   2.0
3     Bibb County    AL           44        1007    0.0     0.0  1329.0   9.0
4   Blount County    AL           44        1009    0.0     0.0   511.0   3.0

In [30]:
df.columns = df.columns.str.replace('NAME','# hospitals')
df.columns = df.columns.str.replace('BEDS','hospital_beds')
df.head()

,County,State,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals
0,Autauga County,AL,67,1001,0.0,0.0,85.0,1.0
1,Baldwin County,AL,208,1003,0.0,0.0,538.0,5.0
2,Barbour County,AL,53,1005,0.0,0.0,146.0,2.0
3,Bibb County,AL,44,1007,0.0,0.0,1329.0,9.0
4,Blount County,AL,44,1009,0.0,0.0,511.0,3.0

In [31]:
t0 = time.time()
health_workers = pd.read_sas('/Users/aryehgelfand/Downloads/AHRF_2018-2019_SAS/ahrf2019.sas7bdat',encoding = "ISO-8859-1") # having First.csv zipped file.


print(time.time() - t0)

Warning: column count mismatch (153 + 895 != 7147)

37.56444001197815

In [32]:


#url = ('https://data.hrsa.gov//DataDownload/AHRF/AHRF_USER_TECH_2018-2019.zip')
#file  = 'AHRF 2018-2019 Technical Documentation.xlsx'


#df = pd.read_excel('/Users/aryehgelfand/Downloads/AHRF_USER_TECH_2018-2019/AHRF 2018-2019 Technical Documentation.xlsx',encoding='ISO-8859-1')

In [33]:
codes = pd.read_csv('../../data/health_resource.csv')

In [34]:
codes.dropna(inplace=True)
codes.drop(columns=['COL-COL'])

            FIELD YEAR OF DATA                     VARIABLE NAME
1      F00001                    Blank
2      F00002                    Header - FIPS St & Cty Code
3      F00003                    Entity of File
4      F00004                    Secondary Entity Of File
5      F00005                    Date of File
...           ...          ...                               ...
8001   F15338-09          2009   Days w/8-hr Avg Ozone ovr NAAQS
8002   F15338-08          2008   Days w/8-hr Avg Ozone ovr NAAQS
8003   F15338-07          2007   Days w/8-hr Avg Ozone ovr NAAQS
8004   F15338-06          2006   Days w/8-hr Avg Ozone ovr NAAQS
8005   F00811-76          1976   Elevation Feet

[7315 rows x 3 columns]

In [35]:
codes['FIELD'] = codes['FIELD'].str.replace('F','f')

In [36]:
#codes.columns = codes.columns.str.strip()
codes.head()

         FIELD        COL-COL YEAR OF DATA                     VARIABLE NAME
1   f00001       00001-00001                 Blank
2   f00002       00002-00006                 Header - FIPS St & Cty Code
3   f00003       00007-00011                 Entity of File
4   f00004       00012-00031                 Secondary Entity Of File
5   f00005       00032-00035                 Date of File

In [37]:
codes_dict_keys = {i.strip() for i in codes['FIELD']}
codes_dict_values = {i.strip() for i in codes['VARIABLE NAME']}

In [38]:



codes_dict = dict(zip(codes_dict_keys,codes_dict_values))
codes_dict_keys = {key.replace('-',''): key for key in codes_dict.keys()}
codes_dict = dict(zip(codes_dict_keys,codes_dict_values))

In [39]:
health_workers.columns = health_workers.columns.map(codes_dict)

In [40]:
health_workers.head()

,% Pers 25+ w/<HS Diploma-Asian,NaN,NaN,"# NHPI HHld Inc $25,000-49,999",NaN,Housing Units,NaN,NaN,Pop Asian Male < 5,NaN,...,NaN,Pop White Non-Hisp Fmle < 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,01001,AHRF,01001,2019,19212.0,31661.0,Alabama,AL,Autauga,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,3.0,290.0
1,NaN,01003,AHRF,01003,2019,19212.0,31661.0,Alabama,AL,Baldwin,...,2.0,1.0,0.0,2.0,2.0,1.0,2.0,7.0,14.0,155.0
2,NaN,01005,AHRF,01005,2019,19212.0,31661.0,Alabama,AL,Barbour,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,220.0
3,NaN,01007,AHRF,01007,2019,19212.0,31661.0,Alabama,AL,Bibb,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,12.0,7.0,224.0
4,NaN,01009,AHRF,01009,2019,19212.0,31661.0,Alabama,AL,Blount,...,0.0,0.0,2.0,1.0,1.0,0.0,4.0,10.0,7.0,870.0

In [41]:
health_workers.columns.values[8] = "State"

In [42]:
health_workers.columns.values[9] = "County"

In [43]:
health_workers.head()

,% Pers 25+ w/<HS Diploma-Asian,NaN,NaN,"# NHPI HHld Inc $25,000-49,999",NaN,Housing Units,NaN,NaN,State,County,...,NaN,Pop White Non-Hisp Fmle < 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,01001,AHRF,01001,2019,19212.0,31661.0,Alabama,AL,Autauga,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,3.0,290.0
1,NaN,01003,AHRF,01003,2019,19212.0,31661.0,Alabama,AL,Baldwin,...,2.0,1.0,0.0,2.0,2.0,1.0,2.0,7.0,14.0,155.0
2,NaN,01005,AHRF,01005,2019,19212.0,31661.0,Alabama,AL,Barbour,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,220.0
3,NaN,01007,AHRF,01007,2019,19212.0,31661.0,Alabama,AL,Bibb,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,12.0,7.0,224.0
4,NaN,01009,AHRF,01009,2019,19212.0,31661.0,Alabama,AL,Blount,...,0.0,0.0,2.0,1.0,1.0,0.0,4.0,10.0,7.0,870.0

In [44]:
health_workers =  health_workers.loc[:, health_workers.columns.notnull()]

In [45]:
df.head()

,County,State,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals
0,Autauga County,AL,67,1001,0.0,0.0,85.0,1.0
1,Baldwin County,AL,208,1003,0.0,0.0,538.0,5.0
2,Barbour County,AL,53,1005,0.0,0.0,146.0,2.0
3,Bibb County,AL,44,1007,0.0,0.0,1329.0,9.0
4,Blount County,AL,44,1009,0.0,0.0,511.0,3.0

In [46]:
df = pd.merge(df,health_workers,left_on='County',right_on = 'County',how='left')

In [47]:
df.fillna(0,inplace=True)

In [48]:
(~(df["State_x"] == 'AK'))
df.shape

(3175, 2615)

In [49]:
df.drop_duplicates(inplace=True)

In [50]:
df.columns = df.columns.str.replace("State_x",'State')

In [51]:
df.head()

,County,State,total_covid,countyFIPS,cases,deaths,hospital_beds,# hospitals,% Pers 25+ w/<HS Diploma-Asian,"# NHPI HHld Inc $25,000-49,999",...,"Neurolgcal Surg, Teaching",# Hosp W/Telehealth eICU,"Medical Genetics, 35-44",Pop White Non-Hisp Fmle 25-29,Hisp/Latin Orig-Salvadoran Pop,"Unspecified, 35-44","Optometrists, Female w/NPI",# Rehabilitation ST Hosps,# Hosp W/IP Palliative Cre Unit,Pop White Non-Hisp Fmle < 5
0,Autauga County,AL,67,1001,0.0,0.0,85.0,1.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Baldwin County,AL,208,1003,0.0,0.0,538.0,5.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Barbour County,AL,53,1005,0.0,0.0,146.0,2.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bibb County,AL,44,1007,0.0,0.0,1329.0,9.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Blount County,AL,44,1009,0.0,0.0,511.0,3.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
df.drop(df.loc[df['State'] == 'AK'].index, inplace=True)
df.drop(df.loc[df['State'] == 'HI'].index, inplace=True)
df.drop(df.loc[df['State'] == 'PR'].index, inplace=True)

In [53]:
df.drop(columns='County Name',inplace=True)

In [54]:
df = df.loc[:, ~df.columns.str.contains('Pop')]
df = df.loc[:, ~df.columns.str.contains('ins')]
df = df.loc[:, ~df.columns.str.contains('Pers')]
df = df.loc[:, ~df.columns.str.contains('Persons')]
df = df.loc[:, ~df.columns.str.contains('Hsehlds')]
df = df.loc[:, ~df.columns.str.contains('persons')]
df = df.loc[:, ~df.columns.str.contains('Pov')]
df = df.loc[:, ~df.columns.str.contains('families')]
df = df.loc[:, ~df.columns.str.contains('Division')]
df = df.loc[:, ~df.columns.str.contains('Stat')]
df = df.loc[:, ~df.columns.str.contains('HPSA')]
df = df.loc[:, ~df.columns.str.contains('Contiguous')]
df = df.loc[:, ~df.columns.str.contains('Family')]
df = df.loc[:, ~df.columns.str.contains('Lab')]
df = df.loc[:, ~df.columns.str.contains('Housing')]
df = df.loc[:, ~df.columns.str.contains('Salaried')]
df = df.loc[:, ~df.columns.str.contains('Code')]
df = df.loc[:, ~df.columns.str.contains('Workers')]
df = df.loc[:, ~df.columns.str.contains('Financial')]
df = df.loc[:, ~df.columns.str.contains('Unemployed')]
df = df.loc[:, ~df.columns.str.contains('Births')]
df = df.loc[:, ~df.columns.str.contains('Poverty')]
df = df.loc[:, ~df.columns.str.contains('HlthIns')]
df = df.loc[:, ~df.columns.str.contains('Units')]
df = df.loc[:, ~df.columns.str.contains('w/HlthIns')]
df = df.loc[:, ~df.columns.str.contains('Medicaid')]
df = df.loc[:, ~df.columns.str.contains('5-Yr')]
df = df.loc[:, ~df.columns.str.contains('3-Yr')]
df = df.loc[:, ~df.columns.str.contains('Hispanic/Lat')]
df = df.loc[:, ~df.columns.str.contains('Non-Hisp')]
df = df.loc[:, ~df.columns.str.contains('Ins')]
df = df.loc[:, ~df.columns.str.contains('Families')]
df = df.loc[:, ~df.columns.str.contains('Hispanic')]
df = df.loc[:, ~df.columns.str.contains('Asian')]
df = df.loc[:, ~df.columns.str.contains('Households')]
df = df.loc[:, ~df.columns.str.contains('Race')]
df = df.loc[:, ~df.columns.str.contains('Workers')]
df = df.loc[:, ~df.columns.str.contains('Wrkrs')]
df = df.loc[:, ~df.columns.str.contains('Hispanic/Latino')]
df = df.loc[:, ~df.columns.str.contains('White')]
df = df.loc[:, ~df.columns.str.contains('Labor')]
df = df.loc[:, ~df.columns.str.contains('HHld')]
df = df.loc[:, ~df.columns.str.contains('Labor')]
df = df.loc[:, ~df.columns.str.contains('Rce')]
df = df.loc[:, ~df.columns.str.contains('Hsp/Lat')]
df = df.loc[:, ~df.columns.str.contains('Units')]
df = df.loc[:, ~df.columns.str.contains('Age')]
df = df.loc[:, ~df.columns.str.contains('Insurance')]
df = df.loc[:, ~df.columns.str.contains('Parent')]
df = df.loc[:, ~df.columns.str.contains('Income')]
df = df.loc[:, ~df.columns.str.contains('Births')]
df = df.loc[:, ~df.columns.str.contains('Black/Afican')]
df = df.loc[:, ~df.columns.str.contains('American')]
df = df.loc[:, ~df.columns.str.contains('Ratio')]
df = df.loc[:, ~df.columns.str.contains('Air')]
df = df.loc[:, ~df.columns.str.contains('Median')]
df = df.loc[:, ~df.columns.str.contains('Hsp')]
df = df.loc[:, ~df.columns.str.contains('Txc')]
df = df.loc[:, ~df.columns.str.contains('Coll-Hisp/Lat')]
df = df.loc[:, ~df.columns.str.contains('Land')]
df = df.loc[:, ~df.columns.str.contains('Expenses')]
df = df.loc[:, ~df.columns.str.contains('Hhlds')]
df = df.loc[:, ~df.columns.str.contains('Unspecified')]
df = df.loc[:, ~df.columns.str.contains('Yrs')]
df = df.loc[:, ~df.columns.str.contains('Accreditation')]
df = df.loc[:, ~df.columns.str.contains('Administration')]
df = df.loc[:, ~df.columns.str.contains('Inc')]
df = df.loc[:, ~df.columns.str.contains('Percent')]
df = df.loc[:, ~df.columns.str.contains('Employed')]
df = df.loc[:, ~df.columns.str.contains('Number')]
df = df.loc[:, ~df.columns.str.contains('Civilian')]
df = df.loc[:, ~df.columns.str.contains('Enrollees')]
df = df.loc[:, ~df.columns.str.contains('Costs')]
df = df.loc[:, ~df.columns.str.contains('Based')]
df = df.loc[:, ~df.columns.str.contains('Expenses')]
df = df.loc[:, ~df.columns.str.contains('Payroll')]
df = df.loc[:, ~df.columns.str.contains('Area')]
df = df.loc[:, ~df.columns.str.contains('Divorced')]
df = df.loc[:, ~df.columns.str.contains('Administrat')]
df = df.loc[:, ~df.columns.str.contains('Cst')]
df = df.loc[:, ~df.columns.str.contains('Recipients')]
df = df.loc[:, ~df.columns.str.contains('Work')]
df = df.loc[:, ~df.columns.str.contains('Marketplc')]
df = df.loc[:, ~df.columns.str.contains('Expenditure(1000\'\s)')]
df = df.loc[:, ~df.columns.str.contains('Research')]
df = df.loc[:, ~df.columns.str.contains('Teaching')]
df = df.loc[:, ~df.columns.str.contains('Trainees')]
df = df.loc[:, ~df.columns.str.contains('Resident')]
df = df.loc[:, ~df.columns.str.contains('Residents')]
df = df.loc[:, ~df.columns.str.contains('Date')]
df = df.loc[:, ~df.columns.str.contains('Emission')]
df = df.loc[:, ~df.columns.str.contains('Graduates')]
df = df.loc[:, ~df.columns.str.contains('Beneficiaries')]
df = df.loc[:, ~df.columns.str.contains('Unemployment')]
df = df.loc[:, ~df.columns.str.contains('Diploma')]


#Wh n/His HHd Inc$10,000-14,999

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [55]:
cols = df.columns.tolist()

In [56]:
cols

['County',
 'total_covid',
 'countyFIPS',
 'cases',
 'deaths',
 'hospital_beds',
 '# hospitals',
 'Ped Cardiolgy, PC, Hosp FT Stf',
 "DO's, Genrl Surg, Total",
 'Occupational Medicine, 35-44',
 'Transplant Surg, Other',
 "Inptn Days in ST Chldrn's Psych",
 'Dent, Total Male, Priv Pract',
 'Tot Standzed RskAdj Medcre Cost',
 "Total D.O.'s, Tot Non-Fed & Fed",
 '# Hosp W/Ambulance Services',
 'Surgical Specs, Total, < 35',
 '# STNG/LT Hosps,050-099 Beds',
 "DO's, Gen Pract, Total",
 'Forensic Path, Total Patn Care',
 'Licensed Chiropractors',
 'Total Active D.O.s Federal',
 '# Hosp W/Home Health Services',
 'Path,Anat/Clinic,PC,Hosp FT Stf',
 '# Hosp W/Gen Med/Surg Cr, Adult',
 'Pediatrics, General, Total',
 "Total M.D.'s, Tot Non-Fed & Fed",
 'Tot Active D.O.s Non-Fed & Fed',
 "MD's, Gen Pract, Total Ptn Care",
 'Cardiovas Dis, Other',
 'Short Term Non-Gen Hosp Beds',
 'Med Spec Tot, PC, Hosp FT Staff',
 'Ob-Gyn, Gen, PC, Hosp FT Staff',
 '# Hosp W/Palliative Care Pgm',
 'Path,Anat/Clinic,PC,Hosp Resdnt',
 'Aerospace Med, PC, Hosp Resdnt',
 'Allergy & Immunology, 75 +',
 'Vascular Med, Total Patn Care',
 "Total D.O.'s, < 35",
 'Otolaryngolgy, PC, Hosp FT Stf',
 '% Medcr Benef Elig for Medcaid',
 'Child Psychiatry, 65-74',
 '# NHSC FTE Mental Hlth Provider',
 'Total Deaths',
 "MD's, General Pract, 45-54",
 '# Hosp W/ERCP',
 '# Short Term General Hosps',
 'Phys Med/Rehab, Total Patnt Cr',
 'Nurs Home Admissions, Tot Hosp',
 'Thoracic Surg, Other',
 '# Hosp W/Occupational Hlth Serv',
 '# Veteran Hosp, 300+ Beds',
 'Pediatrics, Gen, Oth Prof Act',
 'AdvPractNurs Midwve,Male w/NPI',
 'Emergency Med, Total',
 'Ophthalmology, 65-74',
 'Physician Assist, Male w/NPI',
 '# Hosp W/Proton Therapy',
 "DO's, Gnrl Int Med, Tot Ptn Cr",
 '# Hosp W/Dental Services',
 'Pediatrics, General, 45-54',
 'Allergy & Immunology, 65-74',
 'Public Health, 35-44',
 'Ob-Gyn, General, 45-54',
 '# Hosp W/Positron Emiss Tom/CT',
 'Cert Regist Nurse Anesth, 35-44',
 'Thoracic Surgery, 75 +',
 '#Hosp W/Genetic Test/Counseling',
 "DO's, Ped Subspecs, Tot Patn Cr",
 'Ophthalmolgy, PC, Hosp Resdnts',
 'Colon/Rectal Srg, Other',
 "Total D.O.'s, 55-64",
 'Gen Prev Med, PC, Hosp FT Staff',
 'Diagnostic Radiology, 35-44',
 'Physician Assistants, 45-54',
 'Cert Nurse Midwvs,FT Oth EmpTyp',
 'Urology, < 35',
 '# Active Dentists 45-54',
 '# Hosp W/Intraoperative MRI',
 'Pediatrics,Gen,PC,Hosp FT Staff',
 'Physical Med & Rehab, 55-64',
 'Other Specialty, 65-74',
 'Inptn Day in LT Intel Disablity',
 '# Hosp W/Hemodialysis',
 'Occupat Med, Total Patnt Care',
 'Radiation Oncology, < 35',
 '# Hosp W/Outpatient Surgery',
 'Nursing Home Beds, ST Gen Hosp',
 'Diagnostic Radiology, 65-74',
 'Orthopedic Surgery, 65-74',
 'Int Med Subspecs, Tot Patn Care',
 '# Hosp W/Freestandng Outpat Ctr',
 'Child Psychiatry, 35-44',
 'Ob-Gyn Subspecs, 65-74',
 'Licensed Beds, Short Term Hosp',
 'Gastroenterology, 75 +',
 'Nurse Practitioners, Male w/NPI',
 'Anesthesiology, 65-74',
 'Vascular Medicine, < 35',
 '# Hosp W/Alc/Chem Depdnt Ped Sv',
 'General Preventive Med, 55-64',
 'Physical Med & Rehab, 35-44',
 '# Short Term Non-General Hosps',
 '# Hosp W/Medicare Certification',
 'Outpat Visits in ST Gen Hosp',
 '# Hosp W/Patient Education Cntr',
 'Dermatology, 75 +',
 'Rehabilitation Care, Bed Set Up',
 'Dermatology, Total Patnt Care',
 'Medical Genetics,PC,Hosp Resdnt',
 "DO's, Ob-Gyn Subspecs, Total",
 "MD's, Fam Med Subsp,Tot Ptn Cr",
 'Pediatric Cardiology, 75 +',
 '# Psychiatric Short Term Hosps',
 'Anesthesiology, 45-54',
 'Psychiatry, PC, Hosp FT Staff',
 'Pharmacy Technicians, FT',
 'Pharmacists, Licensed,Vacancies',
 'Dermatology, 55-64',
 'Psychiatry, Other Prof Activity',
 'Long Term Hosp Beds',
 '# Hosp W/Cardiac Intensive Care',
 "DO's, Inactive, 35-44",
 '# Hosp W/Teen Outreach Services',
 'Ob-Gyn Subspecs, 45-54',
 'Inptn Days in LT Psychiatric',
 '# Hosp W/Pain Management Pgm',
 'Orthopedic Surgery, 35-44',
 'Genrl Surg, Total Patient Care',
 '# Hosp W/Certified Trauma Cntr',
 'Ophthalmolgy, Total',
 '# ST Gen Hosp, 300+ Beds',
 'Dentists, Total, Priv Pract, PT',
 'Colon/Rectal Srg, Total',
 'Physician Assist,Gender Unknown',
 'Plastic Surgery, 45-54',
 '# Hosp W/Orthopedic Services',
 'Genrl Surg, Total',
 'Plastic Surg, PC, Hosp FT Staff',
 'Other Specialty, 75 +',
 'Ob-Gyn Subspecs,Tot Patient Cr',
 'Dermatology, Total',
 '% Medcre Presc Drug Plan Penetr',
 'General Internal Med, 55-64',
 'Licensed Audiologists',
 'AdvPractNurs Midwve,Fmle w/NPI',
 "DO's, Inactive, 65-74",
 'Dentists, Dental School Faculty',
 'Ob-Gyn Subspecs, 35-44',
 'Licensed Beds, Total Hospital',
 'Forensic Path, PC, Hosp Resdnt',
 'Radiation Oncology, 35-44',
 '# Hosp W/Psych Geriatric Serv',
 'Thoracic Surgery, 55-64',
 'Emergency Medicine, 45-54',
 "DO's, Int Med Subspecs, Total",
 'Forensic Path, Other',
 'Nuclear Med, Other',
 'Dentists,Female w/NPI',
 'Urology, 75 +',
 'Gen Med/Surg, Ped, Beds Set Up',
 'Other Specs, Total, 45-54',
 'Gastroenterology, 65-74',
 "Total D.O.'s, Total Federal",
 "MD's, Not Classified, < 35",
 'Pharmacy Technicians, Vacancies',
 'Hospital Beds',
 'Psychiatric Care, Beds Set Up',
 'Orthopedic Surg, PC, Hosp Res',
 'Diag Radiolgy, PC, Hosp Resdnt',
 '# Hosp W/Residency Training',
 'Neurology, 55-64',
 'Ob-Gyn, General, 65-74',
 "DO's, Phys Med/Rehab,Tot Ptn Cr",
 "MD's, Fam Med Gen, Total",
 'Licensed Psychologists',
 'Other LT Care, Beds Set Up',
 'Occupat Med, Total',
 "MD's,Tot Ptn Care,Canadian Grad",
 "DO's, Other Specs, Total",
 'Med Spec Tot, Total',
 'Ob-Gyn Subspecs,PC,Hosp Residnt',
 'Surgical Specs, Total, 75 +',
 'Otolaryngology, 65-74',
 'Cert Regist Nurse Anesth, Male',
 'Total Active M.D.s Non-Federal',
 'Allergy & Immunology, Total',
 'Physician Assistants, < 35',
 'Neurolgcal Surg, Total',
 'Respiratory Therapists, PT',
 "DO's, Psychiatry, Total",
 'Nuclear Medicine, 45-54',
 'Colon & Rectal Surgery, 65-74',
 'Transplantation Surgery, 35-44',
 "Total M.D.'s, 35-44",
 'Inptn Days in ST Rehabilitation',
 'General Internal Med, < 35',
 "MD's, Gen Pract, Total",
 'Physical Med & Rehab, 75 +',
 '# Hosp W/Neonatal Intermed Care',
 'Cardiovascular Diseases, 35-44',
 '# Patients Seen in VA Facility',
 'Nursing Home Beds, STNG Hosp',
 "MD's Inactive, Total",
 "DO's, Emergency Med, Tot Ptn Cr",
 'Occupational Medicine, 65-74',
 '# Hosp W/Meals On Wheels',
 'Days w/8-hr Avg Ozone ovr NAAQS',
 'Pathology, Anat/Clinic, < 35',
 'Occupational Medicine, 45-54',
 'Psychiatry, 65-74',
 "Total M.D.'s, 45-54",
 'Diagnostic Radiology, < 35',
 "Veterans' Hospital Beds",
 'Licensed Nurs Home Beds, LT',
 'Cert Regist Nurse Anesth, 45-54',
 'Medical Genetics, Other',
 '# Hosp W/Ablat of Barrets Esoph',
 'Optometrists w/NPI',
 '# Hosp W/Psych Consl/Liaisn Ser',
 '# Hosp W/Psychiatric Care',
 'LPN/LVNs, Part-Time',
 'Otolaryngolgy, Total Ptn Care',
 'CertRegistNursAnesth,Fmle w/NPI',
 "DO's, Genrl Surg, Tot Ptnt Care",
 '# Skilled Nursing Facilities',
 'Urology, Other',
 'Dentists, Total Prof Active',
 'Short Term General Hosp Beds',
 'Forensic Pathology, 65-74',
 'Internal Med Subspecs, 35-44',
 'Med Spec Tot, Other',
 'Ob-Gyn Subspecs, < 35',
 'Internal Med Subspecs, 55-64',
 "DO's, Gen Pract, Total Ptn Care",
 'Ob-Gyn, General, 75 +',
 '# Hosp W/Pediatric Intens Care',
 'Ped Subspecs, Other',
 'Licensed Nurs Home Beds, STNG',
 '# Hosp W/Robot-Asst Walk Therap',
 'Ob-Gyn Subspecs, Oth Prof Act',
 'Phys Med/Rehab, PC, Office Base',
 'Other Specialty, 45-54',
 '# Short Term Community Hosps',
 'Cardiovas Dis, PC, Hosp Resdnt',
 'Dist Hosp By 00 - 39% Util Rate',
 'Nursing Home Beds, Total Hosp',
 'Medcre Adv PtA&B Rates 4 Star',
 '# Hosp W/Patient Ctrl Analgesia',
 '# Rehabilitation LT Hosps',
 'Psychiatry, Total Patient Care',
 '% Occ Hous Unit w/Phone Service',
 'Pediatric Subspecs, 45-54',
 '# Hosp W/Pediatric Emerg Depart',
 "Total M.D.'s, 55-64",
 '%Per 25+ w/HS Dip or more-Bl/AA',
 'Registered Nurses, Vacancies',
 'Pediatrics, General, 35-44',
 '# Active Dentists 35-44',
 'Neurological Surgery, 65-74',
 'Ophthalmology, 45-54',
 'Orthopedic Surgery, < 35',
 "Veterans' Hospital Admissions",
 '# Hosp W/Psych Emergency Serv',
 'Dentists, Total Priv Practice',
 'Physician Assistants, 65 +',
 'Plastic Surg, Total',
 'Nuclear Med, PC, Hosp Residnts',
 'Tot Active M.D.s Non-Fed & Fed',
 '# Hosp W/Magnetoencephalography',
 '# STNG/LT Hosps,300+ Beds',
 'Thoracic Surgery, 35-44',
 '# Hosp W/Crisis Prevention',
 '# Acute Long-Term Care ST Hosps',
 'Dermatology, Other',
 'Nuclear Med, Total',
 'Diag Radiolgy, Other',
 "MD's, General Pract, < 35",
 'Physicians & Dentists,Vacancies',
 'Vascular Med, Total',
 "M.D.'s, Total Ptn Care Non-Fed",
 'Anesthesiolgy, Other',
 'Dist Hosp By 80+% Util Rate',
 '# Critical Access ST Gen Hosps',
 '# Sole Community Providers',
 'Other Spec, Tot, Total',
 'Int Med Subspecs, Total',
 'Nursing Facilities Total Beds',
 'Neurological Surgery, 55-64',
 '# Hosp W/Mag Resonance Imaging',
 'Pharmacists, Licensed, FT',
 'Pediatric Subspecs, 65-74',
 "# Veterans' Hospitals",
 'Occupational Medicine, 55-64',
 'Other Specialty, < 35',
 "DO's Inactive, Total",
 'Child Psych, Total Patn Care',
 'Obstetrics Care, Beds Set Up',
 'Physical Med & Rehab, < 35',
 'Vascular Med, Other',
 'Nursing Facilities Cert Beds',
 'Anesthesiolgy, PC, Hosp Resdnt',
 '# Hosp W/Primary Care Dept',
 'Pulmonary Diseases, < 35',
 'Medcr Ben IP User w/Coverd Stay',
 '# Hosp W/Medical School Affiln',
 "MD's, General Pract, 55-64",
 'Adv Prct Regist Nurs,Male w/NPI',
 'Nuclear Medicine, 65-74',
 "Total M.D.'s, Total Non-Fed",
 'Cardiovascular Diseases, 75 +',
 'Neurology, 75 +',
 'Gen Prev Med, Total Patnt Care',
 'Clinical Nurse Specialist w/NPI',
 'Thoracic Surgery, < 35',
 'Outpatient Visits in VA Hosp',
 '# Veteran Hosp, 200-299 Beds',
 'Ped Subspecs, PC, Hosp FT Staff',
 '# Hosp W/Fitness Center',
 'Gnrl Int Med, Total Patn Care',
 '% Medicare FFS Benef Male',
 'Dentists, Seeking Employment',
 'Licensed Speech-Language Path',
 'File Length',
 'Diagnostic Radiology, 55-64',
 'Colon & Rectal Surgery, 75 +',
 'Physician Assistants, Surg Spec',
 '# Hosp W/Optical Colonoscopy',
 'Phys Med/Rehab, Total',
 'Emergency Med, Other',
 'Ob-Gyn Subspecs, 55-64',
 'General Surgery, 35-44',
 'Outpat Visits in Long Term Hosp',
 "DO's, Ob-Gyn, Gen, Tot Patn Cr",
 "DO's, Ped Subspecs, Total",
 'Medicre Enrollmnt, Disabled Tot',
 'Radiation Oncology, 65-74',
 'Licensed Nursing Home Beds',
 'Physicians & Dentists, FT',
 'CertRegistNursAnesth,Male w/NPI',
 'Certified Nurse Midwives',
 '# STNG/LT Hosps,100-199 Beds',
 'Pulmonary Dis, PC, Hosp FT Stf',
 '# STNG/LT Hosps,006-049 Beds',
 "DO's, Inactive, < 35",
 'Physical Med & Rehab, 65-74',
 'Path,Anat/Clinic,Other',
 "DO's, Fam Med Gen, Total",
 'Medical Genetics, < 35',
 "MD's, Fam Med Subsp,PC,Off Bsd",
 '# Hosp W/Shaped Beam Rad System',
 'Physician Assistants, 35-44',
 '# Ambulatory Surgery Centers',
 '# Hosp W/Hospice',
 'Nurs Home Admissions,STGEN Hosp',
 'Med Spec Tot, Total Patn Care',
 'Gen Int Med, PC, Hosp FT Staff',
 'Internal Med Subspecs, 65-74',
 "DO's, Inactive, 55-64",
 'Chiropractors',
 'Path,Anat/Clinic,Tot Patient Cr',
 'Transplantation Surgery, 55-64',
 'Medcre Benef Hosp Readmiss Rate',
 '# Hosp W/Lung Transplant',
 'Vascular Med, PC, Hosp Resdnt',
 "MD's, Inactive, 35-44",
 'Public Health, Total Patnt Care',
 "MD's,Tot Gen Prac,Oth Prof Act",
 "DO's, Inactive, 45-54",
 "MD's Not Classified, Total",
 'Ophthalmology, 75 +',
 'Pediatric Subspecs, 35-44',
 'Plastic Surg, Other',
 'Forensic Pathology, 45-54',
 '# Hosp w/Hospitalists Care',
 '# Hosp W/Transport to Hlth Serv',
 'Surgical Specs, Total, 55-64',
 '# ST Gen Hosp, 006-049 Beds',
 'Inptn Days in ST Psychiatric',
 '# Hosp W/Chemotherapy',
 'Cert Nurse Midwvs,FT Unk EmpTyp',
 'Transplant Surg, PC,Hosp Resdnt',
 'Medical Specs, Total, < 35',
 'Dist Hosp By 15 - 24 Services',
 'Diagnostic Radiology, 45-54',
 'Inptn Days in LT Rehabilitation',
 'Pulmonary Dis, Total Patn Care',
 'Otolaryngology, 45-54',
 'Orthopedic Surgery, 55-64',
 'Transplant Surg, PC, Office Bsd',
 'Vascular Medicine, 75 +',
 "DO's, Gnrl Int Med, Total",
 'Aerospace Medicine, 75 +',
 'Pediatric Cardiology, 45-54',
 'Psychiatry, 45-54',
 'Vet Disabilty Pension Recipient',
 'Colon/Rectal Srg, PC, Hosp Res',
 'Physician Assistants, Active',
 'Physician Assistants, Prim Care',
 '# Hosp W/Stereotactic Radiosurg',
 'Neurology, < 35',
 'Medcre Adv PtA&B Rates 4.5 Star',
 'Nuclear Medicine, 75 +',
 "# Children's Psych ST Hosps",
 '# Hosp W/Psych Intensive OP Ser',
 'Surgical Specs, Total, 35-44',
 'Diag Radiolgy, Total Patn Care',
 '# ST Gen Hosp, 200-299 Beds',
 'General Int Med, Other',
 '# Hosp W/Health Screenings',
 'Ophthalmology, < 35',
 'Medical Specs, Total, 35-44',
 'Surg Specs Tot, PC, Hosp FT Stf',
 'Anesthesiology, 55-64',
 'Ob-Gyn, Gen, Total Patient Care',
 'Physician Assistants, Male',
 'Other Specs, PC, Hosp FT Staff',
 'Ob-Gyn, Gen, Oth Prof Activity',
 'Dentists, Other Occupation',
 'Radiology, 75 +',
 'Pediatrics,Gen,Tot Patient Care',
 'Colon & Rectal Surgery, 55-64',
 'Pediatric Cardiology, 65-74',
 'Thoracic Surg, PC, Hosp Resdnt',
 'Other Other Spec, Oth Prof Act',
 'Allergy & Immunology, 45-54',
 'Neurology, 45-54',
 "MD's, Total Gen Pract, Total",
 'Other Specs, Total, 65-74',
 'Medical Genetics,Tot Patnt Care',
 'APRN/Physician Assistants, PT',
 'Phys Med/Rehab, Other',
 'Forensic Path, PC, Hosp FT Stf',
 'Radiology Technicians, PT',
 '# Hosp W/Tobacco Treatment Serv',
 'Transplant Surg, Tot Patn Care',
 'Other Specs, Other',
 'Colon & Rectal Surgery, 45-54',
 "MD's, Tot Gen Pract, PC,Off Bsd",
 '# STNG/LT Hosps,200-299 Beds',
 'Psychiatry, < 35',
 'Other Surg, Other Prof Activity',
 '# Hosp W/Other Long-Term Care',
 'Acute LT Care, Beds Set Up',
 'Forensic Pathology, 35-44',
 'Public Health, PC, Hosp FT Stf',
 'Vascular Medicine, 35-44',
 '# Hosp W/Psych Pediatric Serv',
 '# FTE L.P.N.s & L.V.N.s',
 'Int Med Subspecs, PC, Hosp Res',
 'Other Intensive Cr, Bed Set Up',
 'Dermatology, 35-44',
 'Dent, Priv Pract,Tot GPs & Ped',
 '# Hosp W/Acute Long-Term Care',
 "MD's, Inactive, 75 +",
 'Dentists, Male w/NPI',
 'Registered Nurses, Part-Time',
 '# Hosp W/Obstetric Care',
 'Emergency Medicine, 75 +',
 'Licensed Physical Therapists',
 'Anesthesiology, 75 +',
 '# Hosp W/Cardiac Rehabilitation',
 'Dermatology, 45-54',
 'LPN/LVNs, Vacancies',
 "DO's, IntMed Subspcs,Tot Ptn Cr",
 '# Eligible for Medicare',
 'Nuclear Med, PC, Hosp FT Staff',
 'Neurology, 65-74',
 '# Hosp W/Prosth & Orthotic Serv',
 "MD's, General Pract, 75 +",
 '# Hosp W/Telehealth Stroke Care',
 "M.D.'s, Total Oth Prof Activity",
 'Orthopedic Surgery, 45-54',
 "Total D.O.'s, Male",
 'Orthopedic Surg, Total',
 '# Hosp W/Gen Med/Surg Care, Ped',
 'Certified Nurse Midwives, PT',
 'Medical Specs, Total, 55-64',
 "MD's, General Pract, 65-74",
 '# Occ Hous Unit w/no Fuel Used',
 'Allergy & Immunology, 35-44',
 '# Surgical Operations, Total',
 '#Nat Haw/Oth PI w/Hsbd-Wife Fam',
 'Dent,Staff, Fac & Staf,Hlth Org',
 'Gen Internal Med, Oth Prof Act',
 'Inptn Days in LT Acute LT Care',
 'Gen Prev Med, Total',
 'Physician Assistants, 55-64',
 'Pediatrics, General, 75 +',
 '# Hosp W/Swing Bed Services',
 "MD's,Primary Care, Patient Care",
 'Dist Hosp By 00 - 04 Services',
 "Total M.D.'s, 65-74",
 '# Veteran Hosp, 100-199 Beds',
 '# Long Term Hospitals',
 '# Tot Fac Medicare Inpat Dchrg',
 "MD's, Tot General Pract, < 35",
 'Rad Oncology, Total Patnt Care',
 'Dentists,PT Faculty/PT Practice',
 "D.O.'s, Total Ptn Care Non-Fed",
 'Child Psych, Other',
 "DO's, Inactive, 75 +",
 "MD's, Tot General Pract, 75 +",
 'Occupational Medicine, 75 +',
 "MD's,Tot Gen Prac,PC,Hosp Res",
 '# FTE R.N.s',
 "MD's, Gen Pract, PC, Office Bsd",
 'Anesthesiology, 35-44',
 'Dent, Total Female, Priv Pract',
 'Otolaryngology, 75 +',
 '# Surgical Operations, Inpatnt',
 'Dentists, Total, Priv Pract, FT',
 'General Internal Med, 35-44',
 'Pathology, Anat/Clinic, 45-54',
 'Cardiovas Dis, Total',
 'Neurolgcal Surg, PC, Office Bsd',
 'General Surgery, 75 +',
 '# Hosp W/Ped Cardiac Surgery',
 'Entity of File',
 'Diag Radiolgy, PC, Hosp FT Stf',
 'Other Surg, PC, Hosp FT Staff',
 'Emergency Medicine, < 35',
 "DO's, Pediatrics,Gen,Tot Ptn Cr",
 "DO's, Ob-Gyn Subspcs,Tot Ptn Cr",
 'Medcre Adv PtA&B Rates 0% Bonus',
 'Respiratory Therapist,Vacancies',
 'Physician Assistants, PT',
 'Licensed Optometrists',
 '# Hosp W/Medical/Surg Intens Cr',
 'Other Med, PC, Hosp FT Staff',
 'Allergy&Immunology,Hosp Resdnt',
 'Physician Assistants',
 'Orthopedic Surgery, 75 +',
 'Neurology, 35-44',
 'Neurology, Other',
 'Radiology, Total Patient Care',
 'Medcre Adv PtA&B Rates 5% Bonus',
 'Emergency Medicine, 35-44',
 "MD's, Tot Gen Pract, Administ",
 '# Hosp W/Adult Diagnostic Cath',
 'Surg Specs Tot, Total Patn Care',
 "MD's, General Pract, 35-44",
 'Pulmonary Dis, Other',
 'Advanced Practice Reg Nurses,PT',
 '# Hosp W/Physical Rehab Care',
 '# Hosp W/HIV-AIDS Services',
 'Adv Prct Regist Nurs,Fmle w/NPI',
 'Hospital Admissions',
 'Cardiovascular Diseases, 65-74',
 '# Chronic Disease LT Hosps',
 "DO's,Primary Care, Patient Care",
 'IP Per User Actual Medcare Cost',
 'Phys Med/Rehab, PC, Hosp Resdnt',
 'Otolaryngology, 35-44',
 'Neurology, Total',
 'Elevation Feet',
 'Cardiovascular Diseases, < 35',
 '# NHSC FTE Prim Care Providers',
 'Other Specs, Total, 55-64',
 'Inpatient Days in ST Gen Hosp',
 '# NHSC Mentl Hlth Site w/Provdr',
 'Nuclear Medicine, < 35',
 '# NHSC Dental Sites w/Providers',
 '# Psychiatric LT Hosps',
 "VA Med Care Expenditure(1000's)",
 'Podiatrists, Female w/NPI',
 'Pulmonary Diseases, 45-54',
 "Total M.D.'s, Female",
 "MD's, Inactive, 55-64",
 'Nurs Home Admissions, STNG/LT',
 "DO's, Emergency Med, Total",
 'Outpatient Visits - Other',
 "DO's, Other Specs, Tot Patnt Cr",
 'Gastroenterology, Total Ptn Cr',
 '# Hosp W/Arthritis Treatmt Cntr',
 "MD's, Not Classified, 45-54",
 'Public Health, 45-54',
 'Inptn Days in STNG/LT Hosp',
 'Radiology Technicians, FT',
 '# Hosp W/Alc/Drug Abuse IP Care',
 'Gastroenterology, Other',
 'Emergency Med, Total Patn Care',
 '# Hosp W/Enabling Services',
 'Medical Genetics, 55-64',
 'Ophthalmolgy, Total Patn Care',
 'Colon & Rectal Surgery, 35-44',
 'Inptn Days in LT Gen Med/Surg',
 'Ped Subspecs, Total',
 'Dist Hosp By 25+ Services',
 '# Hosp W/Wound Mngmnt Services',
 'Pediatric Subspecs, 75 +',
 'Cert Regist Nurse Anesth, 55-64',
 'Other Spec, Tot, Other',
 'Surg Specs Tot, Total',
 '# Active Dentists 55-64',
 '# Hosp W/Electrodiagnostic Serv',
 '# Hosp W/Blood Donor Center',
 'Thoracic Surg, Total',
 "MD's, Gen Pract, Other",
 '# Hosp W/Volunteer Serv Dept',
 'Public Health, 65-74',
 "MD's, Tot General Pract, 65-74",
 'Physical Med & Rehab, 45-54',
 'Medical Genetics, 65-74',
 'Inptn Days in Short Term Comm',
 'Blank',
 "DO's, Orthopedic Srg,Tot Ptn Cr",
 "M.D.'s, Total Other",
 '# NHSC Prim Care Sites w/Provdr',
 'General Internal Med, Total',
 '# Hosp W/Anesth Svc APRN/PAs',
 'Ob-Gyn, General, Total',
 '# Hosp W/Psych Outpatient Serv',
 'Licensed Beds, Long Term Hosp',
 '# Rural Health Clinics',
 "MD's, Tot General Pract, 55-64",
 '# Veteran Hosp, 050-099 Beds',
 "MD's, Fam Med Subsp,Other",
 'Cert Regist Nurse Anesth, 65 +',
 'Ped Cardiolgy, PC, Hosp Resdnt',
 'Surg Specs Tot, Other',
 'Radiology, 55-64',
 'Neurolgcal Surg, PC, Hosp Res',
 'Pediatrics, General, 55-64',
 'Genrl Surg, PC, Hosp FT Staff',
 'Mdcre Enrllmnt, Agd & Dsbld Tot',
 'Pharmacists, Licensed, PT',
 'Dentists, Occup Type Unknown',
 'Pediatric Subspecs, 55-64',
 '# Hosp W/Virtual Colonoscopy',
 "Inptn Days in ST Chldrn's Gen",
 'Allergy&Immunology, Other',
 'Emergency Department Visits',
 '# Hosp W/Sports Medicine',
 '# Hosp W/Nutrition Programs',
 '# Hosp W/Mobile Health Services',
 'Dentists w/NPI',
 'Gastroenterology, 45-54',
 'Plastic Surgery, 55-64',
 'Physician Assistants, FT',
 'Medical Genetics,PC,Hosp FT Stf',
 '# Hosp W/Endoscopic Ultrasound',
 'Emergency Medicine, 55-64',
 'Colon/Rectal Srg, Total Ptn Cr',
 'Urology, 65-74',
 '% Medicare FFS Benef Female',

In [57]:
df.loc[:, df.columns.str.contains('Total')]

,"DO's, Genrl Surg, Total","Dent, Total Male, Priv Pract","Total D.O.'s, Tot Non-Fed & Fed","Surgical Specs, Total, < 35","DO's, Gen Pract, Total","Forensic Path, Total Patn Care",Total Active D.O.s Federal,"Pediatrics, General, Total","Total M.D.'s, Tot Non-Fed & Fed","MD's, Gen Pract, Total Ptn Care",...,"MD's, Fam Med Subspec, Total","Total D.O.'s, 75 +","Nuclear Med, Total Patient Care","D.O.'s, Total Oth Prof Activity","Total M.D.'s, Male","M.D.'s, Total PC, Hosp FT Staff","DO's, Orthopedic Surg, Total","Aerospace Med, Total Patn Care","Other Specs, Total","Radiology, Total"
0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3170,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3171,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3172,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3173,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3174,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
df.shape

(3140, 1086)

In [59]:
cols = df.columns.tolist()

In [66]:
df['Aerospace Med, Total Patn Care'].value_counts()

0.0        3093
241.0         2
17309.0       1
2348.0        1
398.0         1
290.0         1
219.0         1
3110.0        1
3809.0        1
137.0         1
292.0         1
553.0         1
4997.0        1
102.0         1
1585.0        1
523.0         1
2248.0        1
3713.0        1
6721.0        1
672.0         1
136.0         1
256.0         1
818.0         1
1166.0        1
1827.0        1
536.0         1
853.0         1
4509.0        1
414.0         1
9079.0        1
1101.0        1
1426.0        1
3741.0        1
4249.0        1
203.0         1
575.0         1
836.0         1
10414.0       1
909.0         1
2192.0        1
430.0         1
786.0         1
788.0         1
1157.0        1
3161.0        1
4168.0        1
81.0          1
Name: Aerospace Med, Total Patn Care, dtype: int64

In [60]:
#df.to_csv('health.csv')