In [331]:
import requests
import pandas as pd
import json
import geopandas
import operator
from prettytable import PrettyTable

import numpy as np
from bs4 import BeautifulSoup

In [395]:
url =('https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_county_population_usafacts.csv')
pop_county_data = pd.read_csv(url)
pop_county_data.to_csv('pop_county_data.csv')

In [396]:
pop_county_data.drop(columns = ['population'],inplace=True)

In [411]:
df_county = pop_county_data
df_county.head()

   countyFIPS            County Name State
0           0  Statewide Unallocated    AL
1        1001         Autauga County    AL
2        1003         Baldwin County    AL
3        1005         Barbour County    AL
4        1007            Bibb County    AL

In [412]:
df_new = df_county.drop(df_county[(df_county['County Name'] == 'Statewide Unallocated')].index)

#pop_county_data.drop(pop_county_data[(pop_county_data['County Name'] == 'Statewide Unallocated')])

In [414]:
df_new.head()

   countyFIPS     County Name State
1        1001  Autauga County    AL
2        1003  Baldwin County    AL
3        1005  Barbour County    AL
4        1007     Bibb County    AL
5        1009   Blount County    AL

In [4]:
url = 'https://covidtracking.com/api/v1/states/current.csv'
covid_cases_state = pd.read_csv(url)
covid_cases_state.to_csv('covid_cases_state.csv')

In [281]:
covid_cases_state.shape

(56, 30)

In [415]:
url = 'https://usafactsstatic.blob.core.windows.net/public/data/covid-19/covid_confirmed_usafacts.csv'
covid_county = pd.read_csv(url)
covid_county.to_csv('covid_county.csv')

In [417]:
df = covid_county

In [418]:
covid_county = df.drop(df[(df['County Name'] == 'Statewide Unallocated')].index)

In [419]:
dates = covid_county.columns[4:]

In [420]:
covid_county['total_covid']  = df[dates].sum(axis=1)

In [432]:
df = pd.DataFrame(covid_county,columns = ['County Name','State','total_covid'])
df.head()

      County Name State  total_covid
1  Autauga County    AL         1071
2  Baldwin County    AL         4089
3  Barbour County    AL          774
4     Bibb County    AL          914
5   Blount County    AL          859

In [433]:
zips = pd.read_csv('../../data/uszips.csv')

In [434]:
zips_df = pd.DataFrame(zips,columns = ['zip','county_name','population'])
zips_df

         zip            county_name  population
0        601               Adjuntas       17242
1        602                 Aguada       38442
2        603              Aguadilla       48814
3        606                Maricao        6437
4        610                 Añasco       27073
...      ...                    ...         ...
33094  99923  Prince of Wales-Hyder          15
33095  99925  Prince of Wales-Hyder         927
33096  99926  Prince of Wales-Hyder        1635
33097  99927  Prince of Wales-Hyder          38
33098  99929               Wrangell        2484

[33099 rows x 3 columns]

In [473]:
hospitals = pd.read_csv('../../data/Hospitals.csv')
hospitals.columns = hospitals.columns.str.replace('ZIP','zip')

In [474]:
med = pd.merge(hospitals,zips_df,on='zip')
med.columns = med.columns.str.replace('county_name','County Name')

In [475]:
med['County Name'] = [i + " " + "County" for i in med['County Name']]

In [479]:
df = pd.merge(df,med)

KeyboardInterrupt:

In [472]:
df.shape

(1158449, 69)

In [15]:
counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [ ]:
counties.to_csv('counties.csv')

In [ ]:
counties.groupby('county')

In [284]:
df = df.sort_values(['Id', 'number'])
       .groupby('Id', sort=False).seq
       .apply(''.join)
       .reset_index(name='new_seq')

IndentationError: unexpected indent (<ipython-input-284-2998113da960>, line 2)

In [17]:
employment =  pd.read_excel('https://www.bls.gov/cew/publications/hurricane-flood-zones-maps/data/excel/2019/all-hcat-2019q3.xlsx')
employment.to_csv('employment.csv')

In [18]:
employment['Employment in Hurricane Storm Surge Flood Zones, Third Quarter 2019'].value_counts()

Statewide                                                                                                                                                                                                                                                                                                                                                                                                              114
Washington                                                                                                                                                                                                                                                                                                                                                                                                              24
Middlesex                                                                                                                                                                                                                                                                                                                                                                                                               24
Liberty                                                                                                                                                                                                                                                                                                                                                                                                                 18
Camden                                                                                                                                                                                                                                                                                                                                                                                                                  18
                                                                                                                                                                                                                                                                                                                                                                                                                      ...
Surry                                                                                                                                                                                                                                                                                                                                                                                                                    6
Clay                                                                                                                                                                                                                                                                                                                                                                                                                     6
Miami-Dade                                                                                                                                                                                                                                                                                                                                                                                                               6
Note: Flood zones represent a conservative estimation of areas that would experience flooding in the event of a hurricane. Zone 1 is the area that would be flooded by a Category I hurricane. A Category II hurricane would cause flooding in Zones 1 and 2. The hurricane categories reference the Saffir-Simpson Hurricane Scale.\n\nFootnote:\n(1): Data do not meet BLS or state agency disclosure standards\n      1
County                                                                                                                                                                                                                                                                                                                                                                                                                   1
Name: Employment in Hurricane Storm Surge Flood Zones, Third Quarter 2019, Length: 191, dtype: int64

In [19]:
import pandas as pd
from io import StringIO

pd.read_fwf('../../data/RN08_CNTY_data.DAT')

FileNotFoundError: [Errno 2] No such file or directory: '../../data/RN08_CNTY_data.DAT'

In [20]:
import requests
import json
import prettytable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v1/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        
        
    output = open(quot;c:\\temp\\quot; + seriesId + &quot;.txt&quot;,&quot;w&quot;)
    output.write (x.get_string())
    output.close()

SyntaxError: invalid syntax (<ipython-input-20-b398e62bfa38>, line 17)

In [21]:
import requests
import json
import prettytable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
            if 'M01' <= period <= 'M12':
                x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [22]:
print(x).to_csv('x.csv')

+-------------+------+--------+---------+-----------+
|  series id  | year | period |  value  | footnotes |
+-------------+------+--------+---------+-----------+
| SUUR0000SA0 | 2014 |  M12   | 134.207 |           |
| SUUR0000SA0 | 2014 |  M11   | 135.107 |           |
| SUUR0000SA0 | 2014 |  M10   | 135.891 |           |
| SUUR0000SA0 | 2014 |  M09   | 136.211 |           |
| SUUR0000SA0 | 2014 |  M08   | 136.127 |           |
| SUUR0000SA0 | 2014 |  M07   | 136.392 |           |
| SUUR0000SA0 | 2014 |  M06   | 136.433 |           |
| SUUR0000SA0 | 2014 |  M05   | 136.216 |           |
| SUUR0000SA0 | 2014 |  M04   | 135.771 |           |
| SUUR0000SA0 | 2014 |  M03   | 135.375 |           |
| SUUR0000SA0 | 2014 |  M02   | 134.542 |           |
| SUUR0000SA0 | 2014 |  M01   | 134.017 |           |
| SUUR0000SA0 | 2013 |  M12   | 133.509 |           |
| SUUR0000SA0 | 2013 |  M11   | 133.596 |           |
| SUUR0000SA0 | 2013 |  M10   | 133.876 |           |
| SUUR0000SA0 | 2013 |  M09   | 134.255 |           |
| SUUR0000SA0 | 2013 |  M08   | 134.098 |           |
| SUUR0000SA0 | 2013 |  M07   | 133.919 |           |
| SUUR0000SA0 | 2013 |  M06   | 133.900 |           |
| SUUR0000SA0 | 2013 |  M05   | 133.626 |           |
| SUUR0000SA0 | 2013 |  M04   | 133.421 |           |
| SUUR0000SA0 | 2013 |  M03   | 133.558 |           |
| SUUR0000SA0 | 2013 |  M02   | 133.204 |           |
| SUUR0000SA0 | 2013 |  M01   | 132.137 |           |
| SUUR0000SA0 | 2012 |  M12   | 131.770 |           |
| SUUR0000SA0 | 2012 |  M11   | 132.208 |           |
| SUUR0000SA0 | 2012 |  M10   | 132.892 |           |
| SUUR0000SA0 | 2012 |  M09   | 132.988 |           |
| SUUR0000SA0 | 2012 |  M08   | 132.430 |           |
| SUUR0000SA0 | 2012 |  M07   | 131.731 |           |
| SUUR0000SA0 | 2012 |  M06   | 131.956 |           |
| SUUR0000SA0 | 2012 |  M05   | 132.154 |           |
| SUUR0000SA0 | 2012 |  M04   | 132.284 |           |
| SUUR0000SA0 | 2012 |  M03   | 131.905 |           |
| SUUR0000SA0 | 2012 |  M02   | 130.953 |           |
| SUUR0000SA0 | 2012 |  M01   | 130.438 |           |
| SUUR0000SA0 | 2011 |  M12   | 129.844 |           |
| SUUR0000SA0 | 2011 |  M11   | 130.196 |           |
| SUUR0000SA0 | 2011 |  M10   | 130.373 |           |
| SUUR0000SA0 | 2011 |  M09   | 130.635 |           |
| SUUR0000SA0 | 2011 |  M08   | 130.351 |           |
| SUUR0000SA0 | 2011 |  M07   | 129.983 |           |
| SUUR0000SA0 | 2011 |  M06   | 129.846 |           |
| SUUR0000SA0 | 2011 |  M05   | 129.999 |           |
| SUUR0000SA0 | 2011 |  M04   | 129.483 |           |
| SUUR0000SA0 | 2011 |  M03   | 128.585 |           |
| SUUR0000SA0 | 2011 |  M02   | 127.363 |           |
| SUUR0000SA0 | 2011 |  M01   | 126.778 |           |
+-------------+------+--------+---------+-----------+

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [87]:
health_workers = pd.read_sas('/Users/aryehgelfand/Downloads/AHRF_2018-2019_SAS/ahrf2019.sas7bdat',encoding = "ISO-8859-1") # having First.csv zipped file.

Warning: column count mismatch (153 + 895 != 7147)

In [134]:
if  'f14675-17' in health_workers.columns:
    print('yes')
else:
    print('no')

no

In [110]:
list(health_workers.columns)

['f00001',
 'f00002',
 'f00003',
 'f00004',
 'f00005',
 'f00006',
 'f00007',
 'f00008',
 'f12424',
 'f00010',
 'f04437',
 'f00011',
 'f00012',
 'f04439',
 'f04448',
 'f04440',
 'f04449',
 'f00023',
 'f13156',
 'f1389118',
 'f1389218',
 'f1406718',
 'f1419518',
 'f1419318',
 'f1419418',
 'f1389318',
 'f1389418',
 'f0002013',
 'f1255913',
 'f1397315',
 'f1248115',
 'f1248215',
 'f1248315',
 'f1248415',
 'f1546915',
 'f1248615',
 'f1397515',
 'f1397615',
 'f1533414',
 'f1249014',
 'f1547015',
 'f1397715',
 'f1248715',
 'f0355304',
 'f1214404',
 'f0355404',
 'f1214604',
 'f0978719',
 'f0978718',
 'f0978717',
 'f0978716',
 'f0978715',
 'f0978710',
 'f0979219',
 'f0979218',
 'f0979217',
 'f0979216',
 'f0979215',
 'f0979210',
 'f1249219',
 'f1249218',
 'f1249217',
 'f1249216',
 'f1249215',
 'f1249210',
 'f04101',
 'f04102',
 'f04103',
 'f04104',
 'f04105',
 'f04106',
 'f04107',
 'f04108',
 'f04109',
 'f04110',
 'f04111',
 'f04112',
 'f04113',
 'f04114',
 'f1467517',
 'f1467516',
 'f1467515',
 'f1467514',
 'f1467513',
 'f1467512',
 'f1467511',
 'f1467510',
 'f1467617',
 'f1467616',
 'f1467615',
 'f1467614',
 'f1467613',
 'f1467612',
 'f1467611',
 'f1467610',
 'f1467717',
 'f1467716',
 'f1467715',
 'f1467714',
 'f1467713',
 'f1467712',
 'f1467711',
 'f1467710',
 'f1467817',
 'f1467816',
 'f1467815',
 'f1467814',
 'f1467813',
 'f1467812',
 'f1467811',
 'f1467810',
 'f1467917',
 'f1467916',
 'f1467915',
 'f1467914',
 'f1467913',
 'f1467912',
 'f1467911',
 'f1467910',
 'f1468017',
 'f1468016',
 'f1468015',
 'f1468014',
 'f1468013',
 'f1468012',
 'f1468011',
 'f1468010',
 'f1212917',
 'f1212915',
 'f1212910',
 'f0885717',
 'f0885716',
 'f0885715',
 'f0885714',
 'f0885713',
 'f0885712',
 'f0885711',
 'f0885710',
 'f0885705',
 'f0885700',
 'f0885790',
 'f0885780',
 'f0885770',
 'f0885760',
 'f1212817',
 'f1212815',
 'f1212810',
 'f0460217',
 'f0460216',
 'f0460215',
 'f0460214',
 'f0460213',
 'f0460212',
 'f0460211',
 'f0460210',
 'f0460205',
 'f0460200',
 'f1121517',
 'f1121516',
 'f1121515',
 'f1121514',
 'f1121513',
 'f1121512',
 'f1121511',
 'f1121510',
 'f1121505',
 'f1121500',
 'f0460317',
 'f0460316',
 'f0460315',
 'f0460314',
 'f0460313',
 'f0460312',
 'f0460311',
 'f0460310',
 'f0460305',
 'f1121617',
 'f1121616',
 'f1121615',
 'f1121614',
 'f1121613',
 'f1121612',
 'f1121611',
 'f1121610',
 'f1121605',
 'f1249917',
 'f1249916',
 'f1249915',
 'f1249914',
 'f1249913',
 'f1249912',
 'f1249911',
 'f1249910',
 'f1249905',
 'f0460517',
 'f0460516',
 'f0460515',
 'f0460514',
 'f0460513',
 'f0460512',
 'f0460511',
 'f0460510',
 'f0460505',
 'f1121717',
 'f1121716',
 'f1121715',
 'f1121714',
 'f1121713',
 'f1121712',
 'f1121711',
 'f1121710',
 'f1121705',
 'f0460617',
 'f0460616',
 'f0460615',
 'f0460614',
 'f0460613',
 'f0460612',
 'f0460611',
 'f0460610',
 'f0460605',
 'f0460717',
 'f0460716',
 'f0460715',
 'f0460714',
 'f0460713',
 'f0460712',
 'f0460711',
 'f0460710',
 'f0460705',
 'f1106817',
 'f1106816',
 'f1106815',
 'f1106814',
 'f1106813',
 'f1106812',
 'f1106811',
 'f1106810',
 'f1106805',
 'f0460917',
 'f0460916',
 'f0460915',
 'f0460914',
 'f0460913',
 'f0460912',
 'f0460911',
 'f0460910',
 'f0460905',
 'f0461017',
 'f0461015',
 'f0461010',
 'f1106917',
 'f1106915',
 'f1106910',
 'f0886017',
 'f0886016',
 'f0886015',
 'f0886014',
 'f0886013',
 'f0886012',
 'f0886011',
 'f0886010',
 'f0886005',
 'f1250017',
 'f1250015',
 'f1250010',
 'f0461317',
 'f0461315',
 'f0461310',
 'f0461417',
 'f0461415',
 'f0461410',
 'f0461517',
 'f0461515',
 'f0461510',
 'f1107117',
 'f1107115',
 'f1107110',
 'f0461717',
 'f0461715',
 'f0461710',
 'f0994717',
 'f0994715',
 'f0994710',
 'f1107217',
 'f1107215',
 'f1107210',
 'f0994917',
 'f0994915',
 'f0994910',
 'f0995017',
 'f0995015',
 'f0995010',
 'f0995117',
 'f0995115',
 'f0995110',
 'f0995217',
 'f0995215',
 'f0995210',
 'f0995317',
 'f0995315',
 'f0995310',
 'f1107417',
 'f1107415',
 'f1107410',
 'f0995517',
 'f0995515',
 'f0995510',
 'f1199617',
 'f1199615',
 'f1199610',
 'f1199717',
 'f1199715',
 'f1199710',
 'f1199817',
 'f1199815',
 'f1199810',
 'f1250117',
 'f1250115',
 'f1250110',
 'f1200117',
 'f1200115',
 'f1200110',
 'f1200217',
 'f1200215',
 'f1200210',
 'f1200317',
 'f1200315',
 'f1200310',
 'f1200417',
 'f1200415',
 'f1200410',
 'f1200517',
 'f1200515',
 'f1200510',
 'f1200617',
 'f1200615',
 'f1200610',
 'f1200717',
 'f1200715',
 'f1200710',
 'f1200817',
 'f1200815',
 'f1200810',
 'f1250217',
 'f1250215',
 'f1250210',
 'f1201117',
 'f1201115',
 'f1201110',
 'f1201217',
 'f1201215',
 'f1201210',
 'f1201317',
 'f1201315',
 'f1201310',
 'f1201417',
 'f1201415',
 'f1201410',
 'f1201517',
 'f1201515',
 'f1201510',
 'f0461817',
 'f0461815',
 'f0461810',
 'f1107817',
 'f1107815',
 'f1107810',
 'f0886117',
 'f0886116',
 'f0886115',
 'f0886114',
 'f0886113',
 'f0886112',
 'f0886111',
 'f0886110',
 'f0886105',
 'f1250317',
 'f1250315',
 'f1250310',
 'f0462117',
 'f0462115',
 'f0462110',
 'f0462217',
 'f0462215',
 'f0462210',
 'f0462317',
 'f0462315',
 'f0462310',
 'f1108017',
 'f1108015',
 'f1108010',
 'f0462517',
 'f0462515',
 'f0462510',
 'f1167417',
 'f1167415',
 'f1167410',
 'f1167517',
 'f1167515',
 'f1167510',
 'f1167617',
 'f1167615',
 'f1167610',
 'f1250417',
 'f1250415',
 'f1250410',
 'f1167917',
 'f1167915',
 'f1167910',
 'f1168017',
 'f1168015',
 'f1168010',
 'f1168117',
 'f1168115',
 'f1168110',
 'f1168217',
 'f1168215',
 'f1168210',
 'f1168317',
 'f1168315',
 'f1168310',
 'f0463117',
 'f0463115',
 'f0463110',
 'f1108417',
 'f1108415',
 'f1108410',
 'f0463317',
 'f0463315',
 'f0463310',
 'f1250517',
 'f1250515',
 'f1250510',
 'f0463517',
 'f0463515',
 'f0463510',
 'f0997717',
 'f0997715',
 'f0997710',
 'f0997817',
 'f0997815',
 'f0997810',
 'f1108617',
 'f1108615',
 'f1108610',
 'f0998017',
 'f0998015',
 'f0998010',
 'f0463617',
 'f0463615',
 'f0463610',
 'f1108717',
 'f1108715',
 'f1108710',
 'f0463817',
 'f0463815',
 'f0463810',
 'f1250617',
 'f1250615',
 'f1250610',
 'f0464017',
 'f0464015',
 'f0464010',
 'f0998317',
 'f0998315',
 'f0998310',
 'f0998417',
 'f0998415',
 'f0998410',
 'f1108917',
 'f1108915',
 'f1108910',
 'f0998617',
 'f0998615',
 'f0998610',
 'f0464117',
 'f0464115',
 'f0464110',
 'f1109017',
 'f1109015',
 'f1109010',
 'f0464317',
 'f0464315',
 'f0464310',
 'f1250717',
 'f1250715',
 'f1250710',
 'f0464517',
 'f0464515',
 'f0464510',
 'f0998917',
 'f0998915',
 'f0998910',
 'f0999017',
 'f0999015',
 'f0999010',
 'f1109217',
 'f1109215',
 'f1109210',
 'f0999217',
 'f0999215',
 'f0999210',
 'f1120817',
 'f1120815',
 'f1120810',
 'f1109317',
 'f1109315',
 'f1109310',
 'f1120917',
 'f1120915',
 'f1120910',
 'f1250817',
 'f1250815',
 'f1250810',
 'f1121117',
 'f1121115',
 'f1121110',
 'f1121217',
 'f1121215',
 'f1121210',
 'f1121317',
 'f1121315',
 'f1121310',
 'f1109517',
 'f1109515',
 'f1109510',
 'f1121417',
 'f1121415',
 'f1121410',
 'f1172417',
 'f1172415',
 'f1172410',
 'f1172517',
 'f1172515',
 'f1172510',
 'f1172617',
 'f1172615',
 'f1172610',
 'f1250917',
 'f1250915',
 'f1250910',
 'f1172917',
 'f1172915',
 'f1172910',
 'f1173017',
 'f1173015',
 'f1173010',
 'f1173117',
 'f1173115',
 'f1173110',
 'f1173217',
 'f1173215',
 'f1173210',
 'f1173317',
 'f1173315',
 'f1173310',
 'f1170417',
 'f1170415',
 'f1170410',
 'f1170517',
 'f1170515',
 'f1170510',
 'f1170617',
 'f1170615',
 'f1170610',
 'f1251017',
 'f1251015',
 'f1251010',
 'f1170917',
 'f1170915',
 'f1170910',
 'f1171017',
 'f1171015',
 'f1171010',
 'f1171117',
 'f1171115',
 'f1171110',
 'f1171217',
 'f1171215',
 'f1171210',
 'f1171317',
 'f1171315',
 'f1171310',
 'f1171417',
 'f1171415',
 'f1171410',
 'f1171517',
 'f1171515',
 'f1171510',
 'f1171617',
 'f1171615',
 'f1171610',
 'f1251117',
 'f1251115',
 'f1251110',
 'f1171917',
 'f1171915',
 'f1171910',
 'f1172017',
 'f1172015',
 'f1172010',
 'f1172117',
 'f1172115',
 'f1172110',
 'f1172217',
 'f1172215',
 'f1172210',
 'f1172317',
 'f1172315',
 'f1172310',
 'f0466117',
 'f0466115',
 'f0466110',
 'f1111217',
 'f1111215',
 'f1111210',
 'f0466317',
 'f0466315',
 'f0466310',
 'f1251217',
 'f1251215',
 'f1251210',
 'f0466517',
 'f0466515',
 'f0466510',
 'f1001317',
 'f1001315',
 'f1001310',
 'f1001417',
 'f1001415',
 'f1001410',
 'f1111417',
 'f1111415',
 'f1111410',
 'f1001617',
 'f1001615',
 'f1001610',
 'f0466617',
 'f0466615',
 'f0466610',
 'f1111517',
 'f1111515',
 'f1111510',
 'f0466817',
 'f0466815',
 'f0466810',
 'f1251317',
 'f1251315',
 'f1251310',
 'f0467017',
 'f0467015',
 'f0467010',
 'f1001917',
 'f1001915',
 'f1001910',
 'f1002017',
 'f1002015',
 'f1002010',
 'f1111717',
 'f1111715',
 'f1111710',
 'f1002217',
 'f1002215',
 'f1002210',
 'f0467117',
 'f0467115',
 'f0467110',
 'f1111817',
 'f1111815',
 'f1111810',
 'f0886217',
 'f0886216',
 'f0886215',
 'f0886214',
 'f0886213',
 'f0886212',
 'f0886211',
 'f0886210',
 'f0886205',
 'f1251417',
 'f1251415',
 'f1251410',
 'f0467517',
 'f0467515',
 'f0467510',
 'f0467617',
 'f0467615',
 'f0467610',
 'f0467717',
 'f0467715',
 'f0467710',
 'f1112017',
 'f1112015',
 'f1112010',
 'f0467917',
 'f0467915',
 'f0467910',
 'f0468017',
 'f0468015',
 'f0468010',
 'f1112117',
 'f1112115',
 'f1112110',
 'f0468217',
 'f0468215',
 'f0468210',
 'f1251517',
 'f1251515',
 'f1251510',
 'f0468417',
 'f0468415',
 'f0468410',
 'f1002717',
 'f1002715',
 'f1002710',
 'f1002817',
 'f1002815',
 'f1002810',
 'f1112317',
 'f1112315',
 'f1112310',
 'f1003017',
 'f1003015',
 'f1003010',
 'f0468517',
 'f0468515',
 'f0468510',
 'f1112417',
 'f1112415',
 'f1112410',
 'f0468717',
 'f0468715',
 'f0468710',
 'f1251617',
 'f1251615',
 'f1251610',
 'f0468917',
 'f0468915',
 'f0468910',
 'f1003317',
 'f1003315',
 'f1003310',
 'f1003417',
 'f1003415',
 'f1003410',
 'f1112617',
 'f1112615',
 'f1112610',
 'f1003617',
 'f1003615',
 'f1003610',
 'f1168417',
 'f1168415',
 'f1168410',
 'f1168517',
 'f1168515',
 'f1168510',
 'f1168617',
 'f1168615',
 'f1168610',
 'f1251717',
 'f1251715',
 'f1251710',
 'f1168917',
 'f1168915',
 'f1168910',
 'f1169017',
 'f1169015',
 'f1169010',
 'f1169117',
 'f1169115',
 'f1169110',
 'f1169217',
 'f1169215',
 'f1169210',
 'f1169317',
 'f1169315',
 'f1169310',
 'f1169417',
 'f1169415',
 'f1169410',
 'f1169517',
 'f1169515',
 'f1169510',
 'f1169617',
 'f1169615',
 'f1169610',
 'f1251817',
 'f1251815',
 'f1251810',
 'f1169917',
 'f1169915',
 'f1169910',
 'f1170017',
 'f1170015',
 'f1170010',
 'f1170117',
 'f1170115',
 'f1170110',
 'f1170217',
 'f1170215',
 'f1170210',
 'f1170317',
 'f1170315',
 'f1170310',
 'f0469517',
 'f0469515',
 'f0469510',
 'f1113017',
 'f1113015',
 'f1113010',
 'f0469717',
 'f0469715',
 'f0469710',
 'f1251917',
 'f1251915',
 'f1251910',
 'f0469917',
 'f0469915',
 'f0469910',
 'f1004517',
 'f1004515',
 'f1004510',
 'f1004617',
 'f1004615',
 'f1004610',
 'f1113217',
 'f1113215',
 'f1113210',
 'f1004817',
 'f1004815',
 'f1004810',
 'f0470017',
 'f0470015',
 'f0470010',
 'f1113317',
 'f1113315',
 'f1113310',
 'f0470217',
 'f0470215',
 'f0470210',
 'f1252017',
 'f1252015',
 'f1252010',
 'f0470417',
 'f0470415',
 'f0470410',
 'f1005117',
 'f1005115',
 'f1005110',
 'f1005217',
 'f1005215',
 'f1005210',
 'f1113517',
 'f1113515',
 'f1113510',
 'f1005417',
 'f1005415',
 'f1005410',
 'f0470517',
 'f0470515',
 'f0470510',
 'f1113617',
 'f1113615',
 'f1113610',
 'f0470717',
 'f0470715',
 'f0470710',
 'f1252117',
 'f1252115',
 'f1252110',
 'f0470917',
 'f0470915',
 'f0470910',
 'f1005717',
 'f1005715',
 'f1005710',
 'f1005817',
 'f1005815',
 'f1005810',
 'f1113817',
 'f1113815',
 'f1113810',
 'f1006017',
 'f1006015',
 'f1006010',
 'f0471017',
 'f0471015',
 'f0471010',
 'f1113917',
 'f1113915',
 'f1113910',
 'f0471217',
 'f0471215',
 'f0471210',
 'f1252217',
 'f1252215',
 'f1252210',
 'f0471417',
 'f0471415',
 'f0471410',
 'f1006317',
 'f1006315',
 'f1006310',
 'f1006417',
 'f1006415',
 'f1006410',
 'f1114117',
 'f1114115',
 'f1114110',
 'f1006617',
 'f1006615',
 'f1006610',
 'f0471517',
 'f0471515',
 'f0471510',
 'f1114217',
 'f1114215',
 'f1114210',
 'f0471717',
 'f0471715',
 'f0471710',
 'f1252317',
 'f1252315',
 'f1252310',
 'f0471917',
 'f0471915',
 'f0471910',
 'f1006917',
 'f1006915',
 'f1006910',
 'f1007017',
 'f1007015',
 'f1007010',
 'f1114417',
 'f1114415',
 'f1114410',
 'f1007217',
 'f1007215',
 'f1007210',
 'f0472017',
 'f0472015',
 'f0472010',
 'f1114517',
 'f1114515',
 'f1114510',
 'f0472217',
 'f0472215',
 'f0472210',
 'f1252417',
 'f1252415',
 'f1252410',
 'f0472417',
 'f0472415',
 'f0472410',
 'f1007517',
 'f1007515',
 'f1007510',
 'f1007617',
 'f1007615',
 'f1007610',
 'f1114717',
 'f1114715',
 'f1114710',
 'f1007817',
 'f1007815',
 'f1007810',
 'f0472517',
 'f0472515',
 'f0472510',
 'f1114817',
 'f1114815',
 'f1114810',
 'f0472717',
 'f0472715',
 'f0472710',
 'f1252517',
 'f1252515',
 'f1252510',
 'f0472917',
 'f0472915',
 'f0472910',
 'f1008117',
 'f1008115',
 'f1008110',
 'f1008217',
 'f1008215',
 'f1008210',
 'f1115017',
 'f1115015',
 'f1115010',
 'f1008417',
 'f1008415',
 'f1008410',
 'f0473017',
 'f0473015',
 'f0473010',
 'f1115117',
 'f1115115',
 ...]

In [91]:
health_workers.drop(columns = [ 'f00001',   
 'f00002',
 'f00003',                           
 'f00004',    
 'f00005',    
 'f00006',    
 'f00007'])

,f00008,f12424,f00010,f04437,f00011,f00012,f04439,f04448,f04440,f04449,...,f1533814,f1533813,f1533812,f1533811,f1533810,f1533809,f1533808,f1533807,f1533806,f0081176
0,Alabama,AL,Autauga,"Autauga, AL",01,001,3,South,6,East South Central,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,3.0,290.0
1,Alabama,AL,Baldwin,"Baldwin, AL",01,003,3,South,6,East South Central,...,2.0,1.0,0.0,2.0,2.0,1.0,2.0,7.0,14.0,155.0
2,Alabama,AL,Barbour,"Barbour, AL",01,005,3,South,6,East South Central,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,220.0
3,Alabama,AL,Bibb,"Bibb, AL",01,007,3,South,6,East South Central,...,0.0,0.0,0.0,0.0,2.0,0.0,2.0,12.0,7.0,224.0
4,Alabama,AL,Blount,"Blount, AL",01,009,3,South,6,East South Central,...,0.0,0.0,2.0,1.0,1.0,0.0,4.0,10.0,7.0,870.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3225,Puerto Rico,PR,Yabucoa,"Yabucoa, PR",72,151,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3226,Puerto Rico,PR,Yauco,"Yauco, PR",72,153,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3227,US Virgin Islands,VI,St. Croix,"St. Croix, VI",78,010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3228,US Virgin Islands,VI,St. John,"St. John, VI",78,020,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3229,US Virgin Islands,VI,St. Thomas,"St. Thomas, VI",78,030,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
from zipfile import ZipFile
url = ('https://data.hrsa.gov//DataDownload/AHRF/AHRF_USER_TECH_2018-2019.zip')
file  = 'AHRF 2018-2019 Technical Documentation.xlsx'


df = pd.read_excel('/Users/aryehgelfand/Downloads/AHRF_USER_TECH_2018-2019/AHRF 2018-2019 Technical Documentation.xlsx',encoding='ISO-8859-1')

In [116]:
census = pd.read_csv('../../data/census.csv')

/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,129,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,157,159,161,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,181,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,223,224,225,227,228,229,230,231,232,233,234,235,237,239,241,243,245,247,251,253,255,256,257,258,259,260,261,262,263,265,267,269,271,273,275,277,279,281,283,284,285,286,287,288,289,290,291,293,295,296,297,298,299,300,301,302,303,304,307,309,311,312,313,314,315,317,319,320,321,322,323,324,325,326,327,329,331,333,335,337,339,341,343,347,349,351,353,355,357) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [123]:
census.columns = census.iloc[0]

In [257]:
codes = pd.read_csv('../../data/health_resource.csv')

In [258]:
codes.dropna(inplace=True)
codes.drop(columns=['COL-COL'])

            FIELD YEAR OF DATA                     VARIABLE NAME
1      F00001                    Blank
2      F00002                    Header - FIPS St & Cty Code
3      F00003                    Entity of File
4      F00004                    Secondary Entity Of File
5      F00005                    Date of File
...           ...          ...                               ...
8001   F15338-09          2009   Days w/8-hr Avg Ozone ovr NAAQS
8002   F15338-08          2008   Days w/8-hr Avg Ozone ovr NAAQS
8003   F15338-07          2007   Days w/8-hr Avg Ozone ovr NAAQS
8004   F15338-06          2006   Days w/8-hr Avg Ozone ovr NAAQS
8005   F00811-76          1976   Elevation Feet

[7315 rows x 3 columns]

In [263]:
codes['FIELD'] = codes['FIELD'].str.replace('F','f')

In [269]:
codes.head()

         FIELD        COL-COL YEAR OF DATA                     VARIABLE NAME
1   f00001       00001-00001                 Blank
2   f00002       00002-00006                 Header - FIPS St & Cty Code
3   f00003       00007-00011                 Entity of File
4   f00004       00012-00031                 Secondary Entity Of File
5   f00005       00032-00035                 Date of File

In [272]:
names = []
for i in codes['VARIABLE NAME']:
     names.append(i)

len(names)

7315

In [ ]:
lst = []
for i in health_workers.columns:
    lst.append(i)
var = []
for i in codes['FIELD']:
    var.append(i)

In [276]:
for i in var:
    if i not in lst:
        var.remove(i)
len()

In [280]:
len(lst)
#health_workers.columns = health_workers.columns.replace(i,k)

7147